.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .handler {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: box-shadow 0.2s ease;

    .icon {
      cursor: pointer;
    }
  }

  .list {
    display: flex;
    align-items: center;
    // justify-content: center;
    // width: calc(100% - 120px);
    // width: 600px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* make scrollbar transparent */
    &::-webkit-scrollbar {
      background: transparent;
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }

    .item {
      color: #717171;

      cursor: pointer;
      text-align: center;
      // border-radius: 5px;
      background-color: unset;
      border: unset;
      padding: 4px 6px;
      // margin: 12px 0 0;
      // transition: box-shadow 0.2s ease, color 0.2s ease;
      width: max-content;

      .content {
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 56px;
        cursor: pointer;
        text-align: center;
        // color: #717171;
        -webkit-tap-highlight-color: transparent;
        .icon {
          transition: opacity 200ms ease, transform 200ms ease;
        }
        .text {
          white-space: nowrap;
          cursor: pointer;
          text-align: center;

          line-height: 16px;
          font-weight: 100;
          font-size: 12px;
          &:after {
            inset-inline: 0;
            transition: opacity 0.2s ease;
            position: absolute;
            content: '';
            height: 2px;
            top: calc(100% + 12px);
            opacity: 0;
          }
        }
      }
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #717171; //rgba(17, 12, 46, 0.15);
        border-radius: none;
        color: #000000;
        opacity: 1;
      }
    }
    .active {
      border-bottom: 2px solid #717171; //rgba(17, 12, 46, 0.15);
      border-radius: none;
      color: #000000;
      opacity: 1;
    }
  }
  .filters {
    padding-left: 20px;
  }
}

.slick_slide {
  // border-bottom: 2px solid transparent;

  div {
    // margin-right: 1px;
    // margin-left: 1px;
  }
  // .slick-active {
  //   border-bottom: 3px solid #1b2430;
  //   border-width: 20%;
  // }
}
.arrow_color {
  &:before {
    color: #181d31;
  }
}

.banana {
  background: rebeccapurple !important;
  margin: 20px;
}

.slick-current {
  background: red !important;
}
