$color_1: rgb(35, 35, 35);
$color_2: rgb(0, 0, 0);
$color_3: rgb(250, 250, 250);

.btn {
  align-items: center;
  block-size: 51.9922px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;

  color: $color_2;

  display: inline-flex;
  height: 51.9922px;

  justify-content: center;

  overflow-wrap: break-word;

  text-align: center;

  transform-origin: 92.9102px 25.9961px;
  user-select: none;
  vertical-align: middle;
  width: 185.82px;
  word-break: break-word;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font: 500 19.2px / 28.8px Inter, sans-serif;
  margin: 9.6px;
  outline: rgb(0, 0, 0) none 0px;
  padding: 9.6px 19.2px;
  transition: all 0.2s ease-in-out 0s;
  &:after {
    color: $color_2;

    display: block;
    overflow-wrap: break-word;
    text-align: center;

    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }
  &:before {
    color: $color_2;

    display: block;
    overflow-wrap: break-word;
    text-align: center;

    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }
  .btn_icon {
    font-size: 3.2rem;
  }
  .icon {
    block-size: 28.7969px;

    color: $color_3;

    cursor: pointer;
    display: block;
    height: 28.7969px;

    min-height: auto;

    min-width: auto;
    order: 1;
    overflow-wrap: break-word;

    text-align: center;

    transform-origin: 14.4023px 14.3984px;
    user-select: none;
    vertical-align: sub;
    width: 28.8047px;
    word-break: break-word;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(250, 250, 250);
    border-radius: 50%;
    font: 700 12.8px / 12.8px Moririse2;
    margin: 0px 0px 0px 8px;
    outline: rgb(250, 250, 250) none 0px;
    // padding: 8px;
    transition: all 0.3s ease 0s;
    &:after {
      color: $color_3;

      cursor: pointer;
      overflow-wrap: break-word;

      text-align: center;

      user-select: none;
      word-break: break-word;
      border: 0px none rgb(250, 250, 250);
      font: 700 12.8px / 12.8px Moririse2;
      outline: rgb(250, 250, 250) none 0px;
    }
    &:before {
      block-size: 12.7969px;

      color: $color_3;

      // content: '"î¤‰"';
      cursor: pointer;
      display: block;
      height: 12.7969px;

      overflow-wrap: break-word;

      text-align: center;

      transform: matrix(1, 0, 0, 1, 1, 0);
      transform-origin: 6.40234px 6.39844px;
      user-select: none;
      width: 12.8047px;
      word-break: break-word;
      border: 0px none rgb(250, 250, 250);
      font: 700 12.8px / 12.8px Moririse2;
      outline: rgb(250, 250, 250) none 0px;
    }
  }
}
