$color_1: rgb(144, 145, 148);
$color_2: rgb(26, 28, 36);

.container {
  bottom: 0px;
  color: $color_1;

  height: 132px;

  left: 0px;
  max-width: 33.3333%;
  min-height: 1px;
  min-width: auto;
  position: relative;
  right: 0px;
  text-align: left;
  top: 0px;

  flex: 0 0 33.3333%;
  font: 16px / 29px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  margin: 0px 0px 30px;
  padding: 0px 15px;
  .card {
    align-items: flex-start;
    block-size: 107px;

    color: $color_1;

    display: flex;
    height: 107px;

    text-align: left;

    transform-origin: 194.996px 53.5px;

    border: 0px none rgb(144, 145, 148);
    font: 16px / 29px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif;
    margin: 0px 0px -10px -20px;
    outline: rgb(144, 145, 148) none 0px;
    &:after {
      display: block;
    }
    &:before {
      display: block;
    }
    .header {
      color: $color_1;

      height: 58px;

      min-height: auto;

      min-width: auto;

      text-align: left;

      font: 16px / 29px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, sans-serif;
      margin: 0px 0px 10px 20px;
    }
    .body {
      block-size: 97px;

      color: $color_1;

      height: 97px;

      min-height: auto;

      min-width: auto;

      text-align: left;

      flex: 1 1 0%;
      font: 16px / 29px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, sans-serif;
      margin: 0px 0px 10px 20px;
      .value {
        color: $color_2;

        height: 62px;

        letter-spacing: -1.04px;

        text-align: left;

        transform-origin: 145.996px 31px;

        font: 500 38px / 62.0001px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto,
          'Helvetica Neue', Arial, sans-serif;
        margin: 0px;
      }
      .description {
        color: $color_2;

        height: 35px;

        text-align: left;

        font: 11px/23px Heebo, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue',
          Arial, sans-serif;
        margin: 0px;
      }
    }
  }
}
