.container {
    background-color: #0e0f10;
    font-family: Menlo, monospace;
    padding: 16px;


    .items {
        margin: 16px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);

            &:hover {
                box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
            }
        }
    }
}