.auth {
    display: flex;

    .item {
        display: block;
        padding-left: 26px;
        margin-right: 26px;
        text-decoration: none;
        color: black;

    }
}

.auth a,
button {
    display: block;
    padding-left: 26px;
    margin-right: 26px;
}






.dropdown {
    position: relative;
    display: inline-block;
    font-family: "Open Sans", sans-serif;

    .dropbtn {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        z-index: 1;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        top: 72px;
        right: 0;
        background-color: white;
        border: 1px solid #e6e6e6;
        min-width: 365px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 3;
        font-size: 14px;
        text-align: -webkit-auto;

        .background {
            position: absolute;
            right: 0px;
            top: -29px;
            height: 45px;
            width: 165px;
            background-color: #fffbfb;
        }

        /* Links inside the dropdown */
        p {
            padding: 12px 24px;
            display: block;

            &:last-child {
                text-align: left;
            }

            button {
                color: #2752ff;
                border: none;
                margin-left: 10px;
                background-color: #e6e6e6;
                font-size: 14px;
                transition: all 0.2s ease;
                display: inline-block;

                /* Change color of dropdown links on hover */
                &:hover {
                    color: black;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    text-align: left;
                }
            }
        }
    }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .background {
    background-color: #bfbfbf;
    opacity: 0.1;
}

.dropdown-content p:last-child {
    background-color: #e6e6e6;
}

.dropdown-content p span {
    font-weight: bold;
}