.container {
  width: 33%;
  flex: 0 0 auto;
  padding: 0px 16px;
  .card {
    display: flex;
    background: rgb(255, 204, 1) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 32px;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 32px;
    transition: all 0.3s ease 0s;

    .header {
      overflow-wrap: break-word;

      .category {
        color: rgb(18, 18, 18);
        overflow-wrap: break-word;
        text-align: center;
        word-break: break-word;
        border: 0px none rgb(18, 18, 18);
        font: 19.2px / 28.8px Inter, sans-serif;
        margin: 0px 0px 4px;
        outline: rgb(18, 18, 18) none 0px;
      }

      .title {
        color: rgb(18, 18, 18);
        overflow-wrap: break-word;
        text-align: center;
        word-break: break-word;
        border: 0px none rgb(18, 18, 18);
        font: 26.2px/33.24px Inter, sans-serif;
        margin: 0px 0px 32px;
        outline: rgb(18, 18, 18) none 0px;
        &:after {
          font: 35.2px / 42.24px Inter, sans-serif;
        }
        &:before {
          font: 35.2px / 42.24px Inter, sans-serif;
        }
      }
    }

    .footer {
      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;

      .content {
        align-items: center;

        color: rgb(35, 35, 35);

        display: flex;
        justify-content: space-between;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        margin: 16px 0px 0px;
        outline: rgb(35, 35, 35) none 0px;

        &:after {
          display: block;
        }

        &:before {
          display: block;
        }

        .navigation {
          margin: 0px -9.6px;
        }
        .funded {
          color: rgb(18, 18, 18);

          overflow-wrap: break-word;
          text-align: right;

          width: 60.1016px;
          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 35.2px / 42.24px Inter, sans-serif;

          outline: rgb(18, 18, 18) none 0px;
        }
      }
    }

    .body {
      color: rgb(35, 35, 35);
      object-fit: cover;
      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      border-radius: 16px;
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;

      .picture {
        color: rgb(35, 35, 35);

        display: block;
        height: 350px;

        object-fit: cover;
        overflow-wrap: break-word;

        vertical-align: middle;
        width: 100%;
        border: 0px none rgb(35, 35, 35);
        border-radius: 16px;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
    }
  }
}
