$color_1: #202142;
$color_2: white;

header {
  max-width: 1440px;
  // background: #fcfcff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;

  margin: 0 auto;

  .logo_category {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 13rem;
  }

  .menu {
    display: flex;

    a {
      align-items: center;
      color: rgb(0, 0, 0);
      display: inline-flex;
      justify-content: center;
      overflow-wrap: break-word;
      text-align: center;
      user-select: none;
      vertical-align: middle;
      word-break: break-word;
      border-radius: 100px;
      font: 500 17.6px / 26.4px Inter, sans-serif;
      outline: rgb(0, 0, 0) none 0px;
      padding: 9.6px 10px;
      transition: all 0.2s ease-in-out 0s;
      &:hover {
        // background: #202142;
        // color: $color_2;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 2rem;

    .ionicon {
      font-size: 2.8rem;
    }

    .icon_btn {
      color: #202142;
    }

    .logout {
      background: #202142;
      color: $color_2;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      display: flex;
      gap: 1rem;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .notification {
      position: relative;

      .notification_status {
        width: 0.6rem;
        height: 0.6rem;
        background: #ef5480;
        border-radius: 50%;
        position: absolute;
        top: 0.2rem;
        right: 0.4rem;
      }
    }

    .logout_btn {
      color: rgb(35, 35, 35);

      min-height: auto;

      min-width: auto;
      overflow-wrap: break-word;
      text-align: right;

      transform-origin: 98.0625px 35.5859px;
      width: 196.125px;
      border: 0px none rgb(35, 35, 35);
      font: 0px / 0px Inter;
      margin: 0px -9.6px 0px 0px;
      outline: rgb(35, 35, 35) none 0px;

      .link {
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;

        color: rgb(0, 0, 0);

        display: inline-flex;
        height: 51.9844px;
        justify-content: center;

        overflow-wrap: break-word;

        text-align: center;

        transform-origin: 88.4688px 25.9922px;
        user-select: none;
        vertical-align: middle;
        width: 176.938px;
        word-break: break-word;
        background: rgb(255 153 1) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
        font: 500 17.6px / 26.4px Inter, sans-serif;
        margin: 9.6px;
        outline: rgb(0, 0, 0) none 0px;
        padding: 9.6px 19.2px;
        transition: all 0.2s ease-in-out 0s;
        .icon {
          font-size: 2.2rem;
          padding-left: 0.5rem;
        }

        &:after {
          display: block;
          border: 0px none rgb(0, 0, 0);
        }

        &:before {
          display: block;
          border: 0px none rgb(0, 0, 0);
        }
      }
    }
  }
}
