<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CroStarter</title>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        height: 100%;
      }

      body {
        margin: 0;
        min-height: 100%;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;

        color: #000;
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 400;
      }

      main {
        display: block;
      }

      .title-centered {
        text-align: center;
      }

      .container {
        position: relative;
        max-width: 90rem;
        margin-right: auto;
        margin-left: auto;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      .user-content {
        overflow: visible;
      }

      .user-content h2 {
        max-width: 54rem;
        margin-top: 3rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 2.25rem;
        line-height: 1.25;
      }

      .user-content.pt-4 {
        padding-top: 4rem;
      }

      .user-content ol {
        max-width: 54rem;
        margin: 2rem auto 3rem;
        font-size: 1.25rem;
        line-height: 2;
      }

      .user-content p {
        max-width: 54rem;
        margin-right: auto;
        margin-left: auto;
        color: #000;
      }

      .user-content p {
        margin-bottom: 2rem;
        line-height: 1.6;
      }

      .user-content ol,
      .user-content ul {
        font-size: 1.2rem;
      }
    </style>
    <main>
      <div class="container">
        <h1 class="title-centered">Cookie policy</h1>
        <div class="user-content pt-4 w-richtext">
          <p>
            Cookies are a small text files that are placed on your computer or mobile device by
            websites you visit. They are widely used in order to make a website work, or work more
            efficiently, as well as to provide information to the owners of the site. These cookies
            contain a unique code which allows us to recognize your browser during your visit to our
            website ( so-called a 'session' cookie) or later, repeated visits (so-called permanent
            cookies). The content of a cookie usually consists of the name of the server that placed
            the cookie, an expiration date and a unique numeric code.
          </p>
          <p>
            Based on your surfing habits, a cookie remembers your preferences. These personal
            interests are stored on the hard drive of your computer. Cookies make the interaction
            between you, the visitor, and the website easier, faster and help you to navigate
            between the different parts of a website. &nbsp;Cookies are also used to make the
            content of, or the publicity on a website more relevant for the visitor. Finally, a
            cookie will ensure that the content is adaptable to your personal taste and needs.
          </p>
          <p>
            In The Pocket exercises no control over the use of cookies by third parties, such as,
            for example by advertisers, and also not on cookies resulting from the use of parts of
            the site. You can always check and/or erase cookies and you can set your browser so that
            cookies are blocked. You can also delete the already installed cookies at any time on
            your computer or mobile device. This means that you then have to reset your preferences
            on each visit and that some parts of the website may not always work properly.
          </p>
          <h2>Why are we using cookies on our website?<br /></h2>
          <p>
            Cookies can have different purposes. At In The Pocket we use cookies with three
            different goals:
          </p>
          <ol role="list">
            <li>
              Needed cookies: these cookies are essential in order to be able to visit our website
              and to use specific features of the service. These cookies enable you, for example, to
              navigate between the different parts of the website, to fill out forms or to download
              preferable content. Also, when you wish to log in with your personal account, for
              example, with Harald, cookies are necessary to securely verify your identity before we
              give access to your personal information. If you reject cookies, certain parts of the
              website may not work optimally or not at all.
            </li>
            <li>
              Functional cookies: the functional cookies are those who makes the functioning of our
              website easier and more enjoyable for the visitor and offer you a more personalized
              browsing experience. This include that cookies help to remember your language
              preference and your customer segment, as well as keep track of whether you already was
              asked to subscribe to the newsletter, so we do not submit the same question over and
              over again.
            </li>
            <li>
              Commercial cookies: we use performant cookies to collect information about how the
              visitors use our website in order to improve the content of our website, to adapt more
              to the needs of the visitors and to the ease of use of our website. For example, a
              cookie that helps us count the number of unique visitors and a cookie which keeps
              track of which pages are most popular. For analyses of the use of our website, we also
              make use of Hubspot and Google Analytics which also use cookies. The gathered
              information is used anonymously and can in no way be linked to a single person.
              Information provided by the visitor will not be passed on to third parties.
            </li>
          </ol>
        </div>
      </div>
    </main>
  </body>
</html>
