.bcontainer {
  &.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    p,
    icon {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }
  .icon {
    font-size: 1.7rem;
    width: 50px;
    height: 50px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
  }
  .bar {
    //   position: absolute;
    //   width: 32%;
    height: 10px;
    // background: rebeccapurple;
    //   background: red;
    border-bottom: 5px solid red;
    //   display: flex;
    //   justify-content: flex-end;
    //   &:nth-of-type(even) {
    //     right: 10%;
    //   }
    //   &:nth-of-type(odd) {
    //     left: 10%;
    //   }
  }
  p {
    max-width: 300px;
    padding: 10px;
    font-size: 1.2rem;
  }
}
