$color_1: rgb(91, 104, 123);
$color_2: rgb(45, 57, 84);
$color_3: rgb(74, 86, 130);
$color_4: rgb(255, 255, 255);

.section {
  block-size: 664.5px;
  border-block-end-color: rgb(91, 104, 123);
  border-block-start-color: rgb(91, 104, 123);
  border-inline-end-color: rgb(91, 104, 123);
  border-inline-start-color: rgb(91, 104, 123);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(91, 104, 123);
  color: $color_1;
  column-rule-color: rgb(91, 104, 123);
  height: 664.5px;
  inline-size: 1440px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  padding-block-end: 80px;
  padding-block-start: 80px;
  perspective-origin: 720px 332.25px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(91, 104, 123);
  text-emphasis-color: rgb(91, 104, 123);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 720px 332.25px;
  width: 1440px;
  background: rgb(254, 251, 242) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(91, 104, 123);
  font: 15px / 22.5px Muli, sans-serif;
  outline: rgb(91, 104, 123) none 0px;
  padding: 80px 0px;
  &:after {
    border-block-end-color: rgb(91, 104, 123);
    border-block-start-color: rgb(91, 104, 123);
    border-inline-end-color: rgb(91, 104, 123);
    border-inline-start-color: rgb(91, 104, 123);
    box-sizing: border-box;
    caret-color: rgb(91, 104, 123);
    color: $color_1;
    column-rule-color: rgb(91, 104, 123);
    text-decoration: none solid rgb(91, 104, 123);
    text-emphasis-color: rgb(91, 104, 123);
    text-size-adjust: 100%;
    border: 0px none rgb(91, 104, 123);
    font: 15px / 22.5px Muli, sans-serif;
    outline: rgb(91, 104, 123) none 0px;
  }
  &:before {
    border-block-end-color: rgb(91, 104, 123);
    border-block-start-color: rgb(91, 104, 123);
    border-inline-end-color: rgb(91, 104, 123);
    border-inline-start-color: rgb(91, 104, 123);
    box-sizing: border-box;
    caret-color: rgb(91, 104, 123);
    color: $color_1;
    column-rule-color: rgb(91, 104, 123);
    text-decoration: none solid rgb(91, 104, 123);
    text-emphasis-color: rgb(91, 104, 123);
    text-size-adjust: 100%;
    border: 0px none rgb(91, 104, 123);
    font: 15px / 22.5px Muli, sans-serif;
    outline: rgb(91, 104, 123) none 0px;
  }
  .container {
    block-size: 504.5px;
    border-block-end-color: rgb(91, 104, 123);
    border-block-start-color: rgb(91, 104, 123);
    border-inline-end-color: rgb(91, 104, 123);
    border-inline-start-color: rgb(91, 104, 123);
    box-sizing: border-box;
    caret-color: rgb(91, 104, 123);
    color: $color_1;
    column-rule-color: rgb(91, 104, 123);
    height: 504.5px;
    inline-size: 1200px;
    margin-inline-end: 120px;
    margin-inline-start: 120px;
    max-inline-size: 1200px;
    max-width: 1200px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 600px 252.25px;
    text-decoration: none solid rgb(91, 104, 123);
    text-emphasis-color: rgb(91, 104, 123);
    text-size-adjust: 100%;
    transform-origin: 600px 252.25px;
    width: 1200px;
    border: 0px none rgb(91, 104, 123);
    font: 15px / 22.5px Muli, sans-serif;
    margin: 0px 120px;
    outline: rgb(91, 104, 123) none 0px;
    padding: 0px 15px;
    &:after {
      border-block-end-color: rgb(91, 104, 123);
      border-block-start-color: rgb(91, 104, 123);
      border-inline-end-color: rgb(91, 104, 123);
      border-inline-start-color: rgb(91, 104, 123);
      box-sizing: border-box;
      caret-color: rgb(91, 104, 123);
      color: $color_1;
      column-rule-color: rgb(91, 104, 123);
      text-decoration: none solid rgb(91, 104, 123);
      text-emphasis-color: rgb(91, 104, 123);
      text-size-adjust: 100%;
      border: 0px none rgb(91, 104, 123);
      font: 15px / 22.5px Muli, sans-serif;
      outline: rgb(91, 104, 123) none 0px;
    }
    &:before {
      border-block-end-color: rgb(91, 104, 123);
      border-block-start-color: rgb(91, 104, 123);
      border-inline-end-color: rgb(91, 104, 123);
      border-inline-start-color: rgb(91, 104, 123);
      box-sizing: border-box;
      caret-color: rgb(91, 104, 123);
      color: $color_1;
      column-rule-color: rgb(91, 104, 123);
      text-decoration: none solid rgb(91, 104, 123);
      text-emphasis-color: rgb(91, 104, 123);
      text-size-adjust: 100%;
      border: 0px none rgb(91, 104, 123);
      font: 15px / 22.5px Muli, sans-serif;
      outline: rgb(91, 104, 123) none 0px;
    }
    .header {
      block-size: 90.5px;
      border-block-end-color: rgb(91, 104, 123);
      border-block-start-color: rgb(91, 104, 123);
      border-inline-end-color: rgb(91, 104, 123);
      border-inline-start-color: rgb(91, 104, 123);
      box-sizing: border-box;
      caret-color: rgb(91, 104, 123);
      color: $color_1;
      column-rule-color: rgb(91, 104, 123);
      display: flex;
      height: 90.5px;
      inline-size: 1200px;
      margin-inline-end: -15px;
      margin-inline-start: -15px;
      perspective-origin: 600px 45.25px;
      text-decoration: none solid rgb(91, 104, 123);
      text-emphasis-color: rgb(91, 104, 123);
      text-size-adjust: 100%;
      transform-origin: 600px 45.25px;
      width: 1200px;
      border: 0px none rgb(91, 104, 123);
      flex-flow: row wrap;
      font: 15px / 22.5px Muli, sans-serif;
      margin: 0px -15px;
      outline: rgb(91, 104, 123) none 0px;
      &:after {
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        display: block;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        border: 0px none rgb(91, 104, 123);
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
      }
      &:before {
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        display: block;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        border: 0px none rgb(91, 104, 123);
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
      }
      .content {
        block-size: 90.5px;
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        bottom: 0px;
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        height: 90.5px;
        inline-size: 1200px;
        inset-block-end: 0px;
        inset-block-start: 0px;
        inset-inline-end: 0px;
        inset-inline-start: 0px;
        left: 0px;
        max-inline-size: 100%;
        max-width: 100%;
        min-block-size: 1px;
        min-height: 1px;
        min-inline-size: auto;
        min-width: auto;
        padding-inline-end: 15px;
        padding-inline-start: 15px;
        perspective-origin: 600px 45.25px;
        position: relative;
        right: 0px;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        top: 0px;
        transform-origin: 600px 45.25px;
        width: 1200px;
        border: 0px none rgb(91, 104, 123);
        flex: 0 0 100%;
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
        padding: 0px 15px;
        &:after {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        &:before {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        .title_wrapper {
          block-size: 58.5px;
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          height: 58.5px;
          inline-size: 1170px;
          margin-block-end: 32px;
          perspective-origin: 585px 29.25px;
          text-align: center;
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          transform-origin: 585px 29.25px;
          width: 1170px;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          margin: 0px 0px 32px;
          outline: rgb(91, 104, 123) none 0px;
          &:after {
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
          }
          &:before {
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
          }
          .subtitle {
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            perspective-origin: 0px 0px;
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            transform-origin: 0px 0px;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
            &:after {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
            &:before {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
          }
          .title {
            block-size: 36px;
            border-block-end-color: rgb(45, 57, 84);
            border-block-start-color: rgb(45, 57, 84);
            border-inline-end-color: rgb(45, 57, 84);
            border-inline-start-color: rgb(45, 57, 84);
            box-sizing: border-box;
            caret-color: rgb(45, 57, 84);
            color: $color_2;
            column-rule-color: rgb(45, 57, 84);
            height: 36px;
            inline-size: 1170px;
            margin-block-end: 5px;
            margin-block-start: 0px;
            perspective-origin: 585px 18px;
            text-align: center;
            text-decoration: none solid rgb(45, 57, 84);
            text-emphasis-color: rgb(45, 57, 84);
            text-size-adjust: 100%;
            text-transform: capitalize;
            transform-origin: 585px 18px;
            width: 1170px;
            border: 0px none rgb(45, 57, 84);
            font: 600 30px / 36px Jost, sans-serif;
            margin: 0px 0px 5px;
            outline: rgb(45, 57, 84) none 0px;
            &:after {
              border-block-end-color: rgb(45, 57, 84);
              border-block-start-color: rgb(45, 57, 84);
              border-inline-end-color: rgb(45, 57, 84);
              border-inline-start-color: rgb(45, 57, 84);
              box-sizing: border-box;
              caret-color: rgb(45, 57, 84);
              color: $color_2;
              column-rule-color: rgb(45, 57, 84);
              text-align: center;
              text-decoration: none solid rgb(45, 57, 84);
              text-emphasis-color: rgb(45, 57, 84);
              text-size-adjust: 100%;
              text-transform: capitalize;
              border: 0px none rgb(45, 57, 84);
              font: 600 30px / 36px Jost, sans-serif;
              outline: rgb(45, 57, 84) none 0px;
            }
            &:before {
              border-block-end-color: rgb(45, 57, 84);
              border-block-start-color: rgb(45, 57, 84);
              border-inline-end-color: rgb(45, 57, 84);
              border-inline-start-color: rgb(45, 57, 84);
              box-sizing: border-box;
              caret-color: rgb(45, 57, 84);
              color: $color_2;
              column-rule-color: rgb(45, 57, 84);
              text-align: center;
              text-decoration: none solid rgb(45, 57, 84);
              text-emphasis-color: rgb(45, 57, 84);
              text-size-adjust: 100%;
              text-transform: capitalize;
              border: 0px none rgb(45, 57, 84);
              font: 600 30px / 36px Jost, sans-serif;
              outline: rgb(45, 57, 84) none 0px;
            }
          }
        }
      }
    }
    .list {
      block-size: 414px;
      border-block-end-color: rgb(91, 104, 123);
      border-block-start-color: rgb(91, 104, 123);
      border-inline-end-color: rgb(91, 104, 123);
      border-inline-start-color: rgb(91, 104, 123);
      box-sizing: border-box;
      caret-color: rgb(91, 104, 123);
      color: $color_1;
      column-rule-color: rgb(91, 104, 123);
      display: flex;
      height: 414px;
      inline-size: 1200px;
      margin-inline-end: -15px;
      margin-inline-start: -15px;
      perspective-origin: 600px 207px;
      text-decoration: none solid rgb(91, 104, 123);
      text-emphasis-color: rgb(91, 104, 123);
      text-size-adjust: 100%;
      transform-origin: 600px 207px;
      width: 1200px;
      border: 0px none rgb(91, 104, 123);
      flex-flow: row wrap;
      font: 15px / 22.5px Muli, sans-serif;
      margin: 0px -15px;
      outline: rgb(91, 104, 123) none 0px;
      &:after {
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        display: block;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        border: 0px none rgb(91, 104, 123);
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
      }
      &:before {
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        display: block;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        border: 0px none rgb(91, 104, 123);
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
      }
      .card {
        block-size: 180px;
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        bottom: 0px;
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        height: 180px;
        inline-size: 200px;
        inset-block-end: 0px;
        inset-block-start: 0px;
        inset-inline-end: 0px;
        inset-inline-start: 0px;
        left: 0px;
        max-inline-size: 16.6667%;
        max-width: 16.6667%;
        min-block-size: 1px;
        min-height: 1px;
        min-inline-size: auto;
        min-width: auto;
        padding-inline-end: 15px;
        padding-inline-start: 15px;
        perspective-origin: 100px 90px;
        position: relative;
        right: 0px;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        top: 0px;
        transform-origin: 100px 90px;
        width: 200px;
        border: 0px none rgb(91, 104, 123);
        flex: 0 0 16.6667%;
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
        padding: 0px 15px;
        &:after {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        &:before {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        .container {
          align-items: center;
          block-size: 150px;
          border-block-end-color: rgb(241, 227, 224);
          border-block-end-style: solid;
          border-block-end-width: 1px;
          border-block-start-color: rgb(241, 227, 224);
          border-block-start-style: solid;
          border-block-start-width: 1px;
          border-end-end-radius: 6px;
          border-end-start-radius: 6px;
          border-inline-end-color: rgb(241, 227, 224);
          border-inline-end-style: solid;
          border-inline-end-width: 1px;
          border-inline-start-color: rgb(241, 227, 224);
          border-inline-start-style: solid;
          border-inline-start-width: 1px;
          border-start-end-radius: 6px;
          border-start-start-radius: 6px;
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          display: flex;
          height: 150px;
          inline-size: 170px;
          justify-content: center;
          margin-block-end: 30px;
          perspective-origin: 85px 75px;
          text-align: center;
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          transform-origin: 85px 75px;
          width: 170px;
          background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0% / auto padding-box border-box;
          border: 1px solid rgb(241, 227, 224);
          border-radius: 6px;
          flex-flow: column nowrap;
          font: 15px / 22.5px Muli, sans-serif;
          margin: 0px 0px 30px;
          outline: rgb(91, 104, 123) none 0px;
          overflow: hidden;
          transition: all 0.4s ease 0s;
          &:after {
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            display: block;
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
          }
          &:before {
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            display: block;
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
          }
          .header {
            block-size: 86px;
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            bottom: 0px;
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            height: 86px;
            inline-size: 70px;
            inset-block-end: 0px;
            inset-block-start: 0px;
            inset-inline-end: 0px;
            inset-inline-start: 0px;
            left: 0px;
            max-inline-size: 70px;
            max-width: 70px;
            min-block-size: auto;
            min-height: auto;
            min-inline-size: auto;
            min-width: auto;
            padding-block-end: 8px;
            padding-block-start: 8px;
            perspective-origin: 35px 43px;
            position: relative;
            right: 0px;
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            top: 0px;
            transform-origin: 35px 43px;
            width: 70px;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
            padding: 8px 0px;
            &:after {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
            &:before {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
            .picture_link {
              block-size: 70px;
              border-block-end-color: rgb(74, 86, 130);
              border-block-start-color: rgb(74, 86, 130);
              border-inline-end-color: rgb(74, 86, 130);
              border-inline-start-color: rgb(74, 86, 130);
              box-sizing: border-box;
              caret-color: rgb(74, 86, 130);
              color: $color_3;
              column-rule-color: rgb(74, 86, 130);
              display: block;
              height: 70px;
              inline-size: 70px;
              perspective-origin: 35px 35px;
              text-align: center;
              text-decoration: none solid rgb(74, 86, 130);
              text-emphasis-color: rgb(74, 86, 130);
              text-size-adjust: 100%;
              touch-action: manipulation;
              transform-origin: 35px 35px;
              width: 70px;
              border: 0px none rgb(74, 86, 130);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(74, 86, 130) none 0px;
              &:after {
                border-block-end-color: rgb(74, 86, 130);
                border-block-start-color: rgb(74, 86, 130);
                border-inline-end-color: rgb(74, 86, 130);
                border-inline-start-color: rgb(74, 86, 130);
                box-sizing: border-box;
                caret-color: rgb(74, 86, 130);
                color: $color_3;
                column-rule-color: rgb(74, 86, 130);
                text-align: center;
                text-decoration: none solid rgb(74, 86, 130);
                text-emphasis-color: rgb(74, 86, 130);
                text-size-adjust: 100%;
                border: 0px none rgb(74, 86, 130);
                font: 15px / 22.5px Muli, sans-serif;
                outline: rgb(74, 86, 130) none 0px;
              }
              &:before {
                border-block-end-color: rgb(74, 86, 130);
                border-block-start-color: rgb(74, 86, 130);
                border-inline-end-color: rgb(74, 86, 130);
                border-inline-start-color: rgb(74, 86, 130);
                box-sizing: border-box;
                caret-color: rgb(74, 86, 130);
                color: $color_3;
                column-rule-color: rgb(74, 86, 130);
                text-align: center;
                text-decoration: none solid rgb(74, 86, 130);
                text-emphasis-color: rgb(74, 86, 130);
                text-size-adjust: 100%;
                border: 0px none rgb(74, 86, 130);
                font: 15px / 22.5px Muli, sans-serif;
                outline: rgb(74, 86, 130) none 0px;
              }
              .picture {
                block-size: 70px;
                border-block-end-color: rgb(74, 86, 130);
                border-block-start-color: rgb(74, 86, 130);
                border-inline-end-color: rgb(74, 86, 130);
                border-inline-start-color: rgb(74, 86, 130);
                box-sizing: border-box;
                caret-color: rgb(74, 86, 130);
                color: $color_3;
                column-rule-color: rgb(74, 86, 130);
                cursor: pointer;
                height: 70px;
                inline-size: 70px;
                max-inline-size: 100%;
                max-width: 100%;
                perspective-origin: 35px 35px;
                text-align: center;
                text-decoration: none solid rgb(74, 86, 130);
                text-emphasis-color: rgb(74, 86, 130);
                text-size-adjust: 100%;
                transform-origin: 35px 35px;
                vertical-align: middle;
                width: 70px;
                border: 0px none rgb(74, 86, 130);
                font: 15px / 22.5px Muli, sans-serif;
                outline: rgb(74, 86, 130) none 0px;
                &:after {
                  border-block-end-color: rgb(74, 86, 130);
                  border-block-start-color: rgb(74, 86, 130);
                  border-inline-end-color: rgb(74, 86, 130);
                  border-inline-start-color: rgb(74, 86, 130);
                  box-sizing: border-box;
                  caret-color: rgb(74, 86, 130);
                  color: $color_3;
                  column-rule-color: rgb(74, 86, 130);
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none solid rgb(74, 86, 130);
                  text-emphasis-color: rgb(74, 86, 130);
                  text-size-adjust: 100%;
                  border: 0px none rgb(74, 86, 130);
                  font: 15px / 22.5px Muli, sans-serif;
                  outline: rgb(74, 86, 130) none 0px;
                }
                &:before {
                  border-block-end-color: rgb(74, 86, 130);
                  border-block-start-color: rgb(74, 86, 130);
                  border-inline-end-color: rgb(74, 86, 130);
                  border-inline-start-color: rgb(74, 86, 130);
                  box-sizing: border-box;
                  caret-color: rgb(74, 86, 130);
                  color: $color_3;
                  column-rule-color: rgb(74, 86, 130);
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none solid rgb(74, 86, 130);
                  text-emphasis-color: rgb(74, 86, 130);
                  text-size-adjust: 100%;
                  border: 0px none rgb(74, 86, 130);
                  font: 15px / 22.5px Muli, sans-serif;
                  outline: rgb(74, 86, 130) none 0px;
                }
              }
            }
          }
          .link_wrapper {
            block-size: 34px;
            border-block-end-color: rgb(91, 104, 123);
            border-block-start-color: rgb(91, 104, 123);
            border-inline-end-color: rgb(91, 104, 123);
            border-inline-start-color: rgb(91, 104, 123);
            box-sizing: border-box;
            caret-color: rgb(91, 104, 123);
            color: $color_1;
            column-rule-color: rgb(91, 104, 123);
            height: 34px;
            inline-size: 112.633px;
            min-block-size: auto;
            min-height: auto;
            min-inline-size: auto;
            min-width: auto;
            perspective-origin: 56.3125px 17px;
            text-align: center;
            text-decoration: none solid rgb(91, 104, 123);
            text-emphasis-color: rgb(91, 104, 123);
            text-size-adjust: 100%;
            transform-origin: 56.3164px 17px;
            width: 112.633px;
            border: 0px none rgb(91, 104, 123);
            font: 15px / 22.5px Muli, sans-serif;
            outline: rgb(91, 104, 123) none 0px;
            &:after {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
            &:before {
              border-block-end-color: rgb(91, 104, 123);
              border-block-start-color: rgb(91, 104, 123);
              border-inline-end-color: rgb(91, 104, 123);
              border-inline-start-color: rgb(91, 104, 123);
              box-sizing: border-box;
              caret-color: rgb(91, 104, 123);
              color: $color_1;
              column-rule-color: rgb(91, 104, 123);
              text-align: center;
              text-decoration: none solid rgb(91, 104, 123);
              text-emphasis-color: rgb(91, 104, 123);
              text-size-adjust: 100%;
              border: 0px none rgb(91, 104, 123);
              font: 15px / 22.5px Muli, sans-serif;
              outline: rgb(91, 104, 123) none 0px;
            }
            .category {
              block-size: 26px;
              border-block-end-color: rgb(45, 57, 84);
              border-block-start-color: rgb(45, 57, 84);
              border-inline-end-color: rgb(45, 57, 84);
              border-inline-start-color: rgb(45, 57, 84);
              box-sizing: border-box;
              caret-color: rgb(45, 57, 84);
              color: $color_2;
              column-rule-color: rgb(45, 57, 84);
              height: 26px;
              inline-size: 112.633px;
              letter-spacing: 0.5px;
              margin-block-end: 8px;
              margin-block-start: 0px;
              perspective-origin: 56.3125px 13px;
              text-align: center;
              text-decoration: none solid rgb(45, 57, 84);
              text-emphasis-color: rgb(45, 57, 84);
              text-size-adjust: 100%;
              text-transform: capitalize;
              transform-origin: 56.3164px 13px;
              width: 112.633px;
              border: 0px none rgb(45, 57, 84);
              font: 600 13px / 26px Muli, sans-serif;
              margin: 0px 0px 8px;
              outline: rgb(45, 57, 84) none 0px;
              &:after {
                border-block-end-color: rgb(45, 57, 84);
                border-block-start-color: rgb(45, 57, 84);
                border-inline-end-color: rgb(45, 57, 84);
                border-inline-start-color: rgb(45, 57, 84);
                box-sizing: border-box;
                caret-color: rgb(45, 57, 84);
                color: $color_2;
                column-rule-color: rgb(45, 57, 84);
                letter-spacing: 0.5px;
                text-align: center;
                text-decoration: none solid rgb(45, 57, 84);
                text-emphasis-color: rgb(45, 57, 84);
                text-size-adjust: 100%;
                text-transform: capitalize;
                border: 0px none rgb(45, 57, 84);
                font: 600 13px / 26px Muli, sans-serif;
                outline: rgb(45, 57, 84) none 0px;
              }
              &:before {
                border-block-end-color: rgb(45, 57, 84);
                border-block-start-color: rgb(45, 57, 84);
                border-inline-end-color: rgb(45, 57, 84);
                border-inline-start-color: rgb(45, 57, 84);
                box-sizing: border-box;
                caret-color: rgb(45, 57, 84);
                color: $color_2;
                column-rule-color: rgb(45, 57, 84);
                letter-spacing: 0.5px;
                text-align: center;
                text-decoration: none solid rgb(45, 57, 84);
                text-emphasis-color: rgb(45, 57, 84);
                text-size-adjust: 100%;
                text-transform: capitalize;
                border: 0px none rgb(45, 57, 84);
                font: 600 13px / 26px Muli, sans-serif;
                outline: rgb(45, 57, 84) none 0px;
              }
              .link_text {
                border-block-end-color: rgb(74, 86, 130);
                border-block-start-color: rgb(74, 86, 130);
                border-inline-end-color: rgb(74, 86, 130);
                border-inline-start-color: rgb(74, 86, 130);
                box-sizing: border-box;
                caret-color: rgb(74, 86, 130);
                color: $color_3;
                column-rule-color: rgb(74, 86, 130);
                letter-spacing: 0.5px;
                perspective-origin: 0px 0px;
                text-align: center;
                text-decoration: none solid rgb(74, 86, 130);
                text-emphasis-color: rgb(74, 86, 130);
                text-size-adjust: 100%;
                text-transform: capitalize;
                touch-action: manipulation;
                transform-origin: 0px 0px;
                border: 0px none rgb(74, 86, 130);
                font: 600 13px / 26px Muli, sans-serif;
                outline: rgb(74, 86, 130) none 0px;
                &:after {
                  border-block-end-color: rgb(74, 86, 130);
                  border-block-start-color: rgb(74, 86, 130);
                  border-inline-end-color: rgb(74, 86, 130);
                  border-inline-start-color: rgb(74, 86, 130);
                  box-sizing: border-box;
                  caret-color: rgb(74, 86, 130);
                  color: $color_3;
                  column-rule-color: rgb(74, 86, 130);
                  letter-spacing: 0.5px;
                  text-align: center;
                  text-decoration: none solid rgb(74, 86, 130);
                  text-emphasis-color: rgb(74, 86, 130);
                  text-size-adjust: 100%;
                  text-transform: capitalize;
                  border: 0px none rgb(74, 86, 130);
                  font: 600 13px / 26px Muli, sans-serif;
                  outline: rgb(74, 86, 130) none 0px;
                }
                &:before {
                  border-block-end-color: rgb(74, 86, 130);
                  border-block-start-color: rgb(74, 86, 130);
                  border-inline-end-color: rgb(74, 86, 130);
                  border-inline-start-color: rgb(74, 86, 130);
                  box-sizing: border-box;
                  caret-color: rgb(74, 86, 130);
                  color: $color_3;
                  column-rule-color: rgb(74, 86, 130);
                  letter-spacing: 0.5px;
                  text-align: center;
                  text-decoration: none solid rgb(74, 86, 130);
                  text-emphasis-color: rgb(74, 86, 130);
                  text-size-adjust: 100%;
                  text-transform: capitalize;
                  border: 0px none rgb(74, 86, 130);
                  font: 600 13px / 26px Muli, sans-serif;
                  outline: rgb(74, 86, 130) none 0px;
                }
              }
            }
          }
        }
      }
      .footer {
        block-size: 54px;
        border-block-end-color: rgb(91, 104, 123);
        border-block-start-color: rgb(91, 104, 123);
        border-inline-end-color: rgb(91, 104, 123);
        border-inline-start-color: rgb(91, 104, 123);
        bottom: 0px;
        box-sizing: border-box;
        caret-color: rgb(91, 104, 123);
        color: $color_1;
        column-rule-color: rgb(91, 104, 123);
        height: 54px;
        inline-size: 1200px;
        inset-block-end: 0px;
        inset-block-start: 0px;
        inset-inline-end: 0px;
        inset-inline-start: 0px;
        left: 0px;
        max-inline-size: 100%;
        max-width: 100%;
        min-block-size: 1px;
        min-height: 1px;
        min-inline-size: auto;
        min-width: auto;
        padding-inline-end: 15px;
        padding-inline-start: 15px;
        perspective-origin: 600px 27px;
        position: relative;
        right: 0px;
        text-align: center;
        text-decoration: none solid rgb(91, 104, 123);
        text-emphasis-color: rgb(91, 104, 123);
        text-size-adjust: 100%;
        top: 0px;
        transform-origin: 600px 27px;
        width: 1200px;
        border: 0px none rgb(91, 104, 123);
        flex: 0 0 100%;
        font: 15px / 22.5px Muli, sans-serif;
        outline: rgb(91, 104, 123) none 0px;
        padding: 0px 15px;
        &:after {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-align: center;
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        &:before {
          border-block-end-color: rgb(91, 104, 123);
          border-block-start-color: rgb(91, 104, 123);
          border-inline-end-color: rgb(91, 104, 123);
          border-inline-start-color: rgb(91, 104, 123);
          box-sizing: border-box;
          caret-color: rgb(91, 104, 123);
          color: $color_1;
          column-rule-color: rgb(91, 104, 123);
          text-align: center;
          text-decoration: none solid rgb(91, 104, 123);
          text-emphasis-color: rgb(91, 104, 123);
          text-size-adjust: 100%;
          border: 0px none rgb(91, 104, 123);
          font: 15px / 22.5px Muli, sans-serif;
          outline: rgb(91, 104, 123) none 0px;
        }
        .explore {
          appearance: button;
          block-size: 54px;
          border-block-end-color: rgb(93, 191, 19);
          border-block-end-style: solid;
          border-block-start-color: rgb(93, 191, 19);
          border-block-start-style: solid;
          border-end-end-radius: 4px;
          border-end-start-radius: 4px;
          border-inline-end-color: rgb(93, 191, 19);
          border-inline-end-style: solid;
          border-inline-start-color: rgb(93, 191, 19);
          border-inline-start-style: solid;
          border-start-end-radius: 4px;
          border-start-start-radius: 4px;
          caret-color: rgb(255, 255, 255);
          color: $color_4;
          column-rule-color: rgb(255, 255, 255);
          cursor: pointer;
          height: 54px;
          inline-size: 231.172px;
          padding-block-end: 15px;
          padding-block-start: 15px;
          padding-inline-end: 25px;
          padding-inline-start: 25px;
          perspective-origin: 115.586px 27px;
          text-decoration: none solid rgb(255, 255, 255);
          text-emphasis-color: rgb(255, 255, 255);
          text-size-adjust: 100%;
          touch-action: manipulation;
          transform-origin: 115.586px 27px;
          user-select: none;
          vertical-align: middle;
          white-space: nowrap;
          width: 231.172px;
          background: rgb(93, 191, 19) none repeat scroll 0% 0% / auto padding-box border-box;
          border: 2px solid rgb(93, 191, 19);
          border-radius: 4px;
          font: 16px / 20px Muli, sans-serif;
          outline: rgb(255, 255, 255) none 0px;
          padding: 15px 25px;
          transition: all 0.4s ease 0s;
          &:after {
            border-block-end-color: rgb(255, 255, 255);
            border-block-start-color: rgb(255, 255, 255);
            border-inline-end-color: rgb(255, 255, 255);
            border-inline-start-color: rgb(255, 255, 255);
            box-sizing: border-box;
            caret-color: rgb(255, 255, 255);
            color: $color_4;
            column-rule-color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none solid rgb(255, 255, 255);
            text-emphasis-color: rgb(255, 255, 255);
            text-size-adjust: 100%;
            user-select: none;
            white-space: nowrap;
            border: 0px none rgb(255, 255, 255);
            font: 16px / 20px Muli, sans-serif;
            outline: rgb(255, 255, 255) none 0px;
          }
          &:before {
            border-block-end-color: rgb(255, 255, 255);
            border-block-start-color: rgb(255, 255, 255);
            border-inline-end-color: rgb(255, 255, 255);
            border-inline-start-color: rgb(255, 255, 255);
            box-sizing: border-box;
            caret-color: rgb(255, 255, 255);
            color: $color_4;
            column-rule-color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none solid rgb(255, 255, 255);
            text-emphasis-color: rgb(255, 255, 255);
            text-size-adjust: 100%;
            user-select: none;
            white-space: nowrap;
            border: 0px none rgb(255, 255, 255);
            font: 16px / 20px Muli, sans-serif;
            outline: rgb(255, 255, 255) none 0px;
          }
        }
      }
    }
  }
}
