:root {
  --color-text: white;
  --color-bg: white;
  --color-bg-accent: #202142; // rgb(255, 153, 1);
  --size: clamp(10rem, 1rem + 40vmin, 10rem);
  --gap: calc(var(--size) / 14);
  --scroll-end: calc(-100% - var(--gap));
}
$duration: 60s;
$scroll-start: 0;
.container {
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--gap);
  width: 100%;
  min-height: 35vh;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
    .marquee {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: var(--gap);
      mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
      );

      .marquee__group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll-x $duration linear infinite;
      }

      svg {
        display: grid;
        place-items: center;
        width: var(--size);
        fill: var(--color-text);
        background: var(--color-bg-accent);
        aspect-ratio: 16/9;
        padding: calc(var(--size) / 10);
        border-radius: 0.5rem;
      }

      &.marquee__reverse {
        .marquee__group {
          animation-direction: reverse;
          animation-delay: -3s;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX($scroll-start);
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY($scroll-start);
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}
