.container {
  color: rgb(35, 35, 35);

  width: 33%;

  min-height: auto;

  min-width: auto;
  overflow-wrap: break-word;

  flex: 0 0 auto;
  padding: 0px 16px;

  .card {
    bottom: 0px;

    color: rgb(35, 35, 35);

    display: flex;

    left: 0px;
    overflow-wrap: break-word;

    position: relative;
    right: 0px;

    top: 0px;
    background: rgb(255, 204, 1) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 32px;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 32px;
    transition: all 0.3s ease 0s;

    .header {
      // height: 107.047px;

      min-height: auto;

      min-width: auto;
      overflow-wrap: break-word;

      .category {
        block-size: 28.8047px;

        color: rgb(18, 18, 18);

        // height: 28.8047px;

        overflow-wrap: break-word;

        text-align: center;

        transform-origin: 169.332px 14.4023px;
        // width: 338.664px;
        word-break: break-word;
        border: 0px none rgb(18, 18, 18);
        font: 19.2px / 28.8px Inter, sans-serif;
        margin: 0px 0px 4px;
        outline: rgb(18, 18, 18) none 0px;
        &:after {
          color: rgb(18, 18, 18);

          overflow-wrap: break-word;
          text-align: center;

          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 19.2px / 28.8px Inter, sans-serif;
          outline: rgb(18, 18, 18) none 0px;
        }
        &:before {
          color: rgb(18, 18, 18);

          overflow-wrap: break-word;
          text-align: center;

          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 19.2px / 28.8px Inter, sans-serif;
          outline: rgb(18, 18, 18) none 0px;
        }
      }

      .title {
        block-size: 42.2422px;

        color: rgb(18, 18, 18);

        // height: 42.2422px;

        overflow-wrap: break-word;
        text-align: center;

        transform-origin: 169.332px 21.1211px;
        // width: 338.664px;
        word-break: break-word;
        border: 0px none rgb(18, 18, 18);
        font: 26.2px/33.24px Inter, sans-serif;
        margin: 0px 0px 32px;
        outline: rgb(18, 18, 18) none 0px;
        &:after {
          color: rgb(18, 18, 18);

          overflow-wrap: break-word;
          text-align: center;

          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 35.2px / 42.24px Inter, sans-serif;
          outline: rgb(18, 18, 18) none 0px;
        }
        &:before {
          color: rgb(18, 18, 18);

          overflow-wrap: break-word;
          text-align: center;

          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 35.2px / 42.24px Inter, sans-serif;
          outline: rgb(18, 18, 18) none 0px;
        }
      }
    }

    .footer {
      block-size: 87.1797px;

      color: rgb(35, 35, 35);

      // height: 87.1797px;

      min-height: auto;

      min-width: auto;
      overflow-wrap: break-word;

      transform-origin: 169.332px 43.5898px;
      // width: 338.664px;
      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;

      &:after {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      .content {
        align-items: center;
        block-size: 71.1797px;

        color: rgb(35, 35, 35);

        display: flex;
        // height: 71.1797px;

        justify-content: space-between;
        overflow-wrap: break-word;

        transform-origin: 169.332px 35.5898px;
        // width: 338.664px;
        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        margin: 16px 0px 0px;
        outline: rgb(35, 35, 35) none 0px;

        &:after {
          color: rgb(35, 35, 35);

          display: block;
          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }

        &:before {
          color: rgb(35, 35, 35);

          display: block;
          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }

        .navigation {
          block-size: 71.1797px;

          color: rgb(18, 18, 18);

          // height: 71.1797px;

          min-height: auto;

          min-width: auto;
          overflow-wrap: break-word;
          text-align: center;

          transform-origin: 102.504px 35.5898px;
          // width: 205.008px;
          border: 0px none rgb(18, 18, 18);
          font: 0px / 0px Inter;
          margin: 0px -9.6px;
          outline: rgb(18, 18, 18) none 0px;

          &:after {
            color: rgb(18, 18, 18);

            overflow-wrap: break-word;
            text-align: center;

            border: 0px none rgb(18, 18, 18);
            font: 0px / 0px Inter;
            outline: rgb(18, 18, 18) none 0px;
          }

          &:before {
            color: rgb(18, 18, 18);

            overflow-wrap: break-word;
            text-align: center;

            border: 0px none rgb(18, 18, 18);
            font: 0px / 0px Inter;
            outline: rgb(18, 18, 18) none 0px;
          }

          .get_started {
            align-items: center;
            block-size: 51.9922px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
            box-sizing: border-box;

            color: rgb(0, 0, 0);

            display: inline-flex;
            // height: 51.9922px;

            justify-content: center;

            overflow-wrap: break-word;

            text-align: center;

            transform-origin: 92.9102px 25.9961px;
            user-select: none;
            vertical-align: middle;
            width: 185.82px;
            word-break: break-word;
            background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
            font: 500 19.2px / 28.8px Inter, sans-serif;
            margin: 9.6px;
            outline: rgb(0, 0, 0) none 0px;
            padding: 9.6px 19.2px;
            transition: all 0.2s ease-in-out 0s;
            &:after {
              color: rgb(0, 0, 0);

              display: block;
              overflow-wrap: break-word;
              text-align: center;

              user-select: none;
              word-break: break-word;
              border: 0px none rgb(0, 0, 0);
              font: 500 19.2px / 28.8px Inter, sans-serif;
              outline: rgb(0, 0, 0) none 0px;
            }
            &:before {
              color: rgb(0, 0, 0);

              display: block;
              overflow-wrap: break-word;
              text-align: center;

              user-select: none;
              word-break: break-word;
              border: 0px none rgb(0, 0, 0);
              font: 500 19.2px / 28.8px Inter, sans-serif;
              outline: rgb(0, 0, 0) none 0px;
            }
          }
        }
        .funded {
          block-size: 42.2422px;

          color: rgb(18, 18, 18);

          // height: 42.2422px;

          min-height: auto;

          min-width: auto;
          overflow-wrap: break-word;
          text-align: right;

          transform-origin: 30.0508px 21.1211px;
          width: 60.1016px;
          word-break: break-word;
          border: 0px none rgb(18, 18, 18);
          font: 35.2px / 42.24px Inter, sans-serif;
          margin: 0px;
          outline: rgb(18, 18, 18) none 0px;
          &:after {
            color: rgb(18, 18, 18);

            overflow-wrap: break-word;
            text-align: right;

            word-break: break-word;
            border: 0px none rgb(18, 18, 18);
            font: 35.2px / 42.24px Inter, sans-serif;
            outline: rgb(18, 18, 18) none 0px;
          }
          &:before {
            color: rgb(18, 18, 18);

            overflow-wrap: break-word;
            text-align: right;

            word-break: break-word;
            border: 0px none rgb(18, 18, 18);
            font: 35.2px / 42.24px Inter, sans-serif;
            outline: rgb(18, 18, 18) none 0px;
          }
        }
      }
    }

    .body {
      block-size: 350px;

      color: rgb(35, 35, 35);

      // height: 350px;

      min-height: auto;

      min-width: auto;
      object-fit: cover;
      overflow-wrap: break-word;

      transform-origin: 169.332px 175px;
      // width: 338.664px;
      border: 0px none rgb(35, 35, 35);
      border-radius: 16px;
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;

      &:after {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      .picture {
        color: rgb(35, 35, 35);

        display: block;
        height: 350px;

        object-fit: cover;
        overflow-wrap: break-word;

        vertical-align: middle;
        width: 100%;
        border: 0px none rgb(35, 35, 35);
        border-radius: 16px;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:after {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
    }
  }
}
