.section {
  background-position: 50% 50%;
  bottom: 0px;
  left: 0px;
  overflow-wrap: break-word;

  position: relative;
  right: 0px;

  top: 0px;
  background: rgb(249, 249, 249) none no-repeat scroll 50% 50% / cover padding-box border-box;
  padding: 96px 0px;
  .container {
    bottom: 0px;

    left: 0px;

    overflow-wrap: break-word;

    position: relative;
    right: 0px;

    top: 0px;
    border: 0px none rgb(35, 35, 35);
    margin: 0px 20px;
    padding: 0px 32px;

    .header {
      overflow-wrap: break-word;

      padding: 0px 0px 24px;
      .title {
        color: rgb(35, 35, 35);

        overflow-wrap: break-word;

        text-align: left;

        word-break: break-word;
        font: 35.2px / 42.24px Inter, sans-serif;
        margin: 0px;
      }
    }
    .list {
      display: flex;

      justify-content: center;
      overflow-wrap: break-word;

      background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
      border-radius: 32px;
      flex-flow: row wrap;
      padding: 32px 16px;
    }
  }
}
