$color_1: rgb(35, 35, 35);
$color_2: rgb(0, 0, 0);
$color_3: rgb(250, 250, 250);

.container {
  background-position: 50% 50%;
  // block-size: 841.906px;
  bottom: 0px;

  color: $color_1;

  height: 841.906px;

  left: 0px;
  overflow-wrap: break-word;

  position: relative;
  right: 0px;

  top: 0px;
  transform-origin: 720px 420.953px;
  // width: 1440px;
  background: rgb(249, 249, 249) none no-repeat scroll 50% 50% / cover padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 48px 0px 48px;
  &:after {
    color: $color_1;

    overflow-wrap: break-word;

    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
  &:before {
    color: $color_1;

    overflow-wrap: break-word;

    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
  .card_wrapper {
    // block-size: 665.906px;
    bottom: 0px;

    color: $color_1;

    height: 665.906px;

    left: 0px;

    // max-width: 1400px;
    overflow-wrap: break-word;

    position: relative;
    right: 0px;

    top: 0px;
    transform-origin: 700px 332.953px;
    // width: 1400px;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    margin: 0px 20px;
    outline: rgb(35, 35, 35) none 0px;
    padding: 0px 32px;
    &:after {
      color: $color_1;

      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }
    &:before {
      color: $color_1;

      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }
    .card {
      align-items: center;
      // block-size: 665.906px;

      color: $color_1;

      display: flex;
      height: 665.906px;

      justify-content: center;
      overflow-wrap: break-word;

      transform-origin: 668px 332.953px;
      // width: 1336px;
      background: rgb(255 153 1) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(35, 35, 35);
      border-radius: 32px;
      flex-flow: row wrap;
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
      padding: 48px;
      &:after {
        color: $color_1;

        display: block;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      &:before {
        color: $color_1;

        display: block;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      .picture {
        // block-size: 569.906px;

        color: $color_1;

        height: 569.906px;

        max-width: 100%;

        min-height: auto;

        min-width: auto;
        overflow-wrap: break-word;

        transform-origin: 310px 284.953px;
        width: 50%;
        border: 0px none rgb(35, 35, 35);
        flex: 0 0 auto;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
        padding: 0px 16px;
        &:after {
          color: $color_1;

          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        &:before {
          color: $color_1;

          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        .avatar {
          // block-size: 569.906px;

          color: $color_1;

          display: block;
          // height: 569.906px;

          overflow-wrap: break-word;
          vertical-align: middle;
          width: 100%;
          border: 0px none rgb(35, 35, 35);
          border-radius: 16px;
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
          transition: all 0.3s ease 0s;
          &:after {
            color: $color_1;

            overflow-wrap: break-word;

            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          &:before {
            color: $color_1;

            overflow-wrap: break-word;

            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
        }
      }
      .header {
        // block-size: 422.617px;

        color: $color_1;

        height: 422.617px;

        max-width: 100%;

        min-height: auto;

        min-width: auto;
        overflow-wrap: break-word;

        transform-origin: 310px 211.309px;
        width: 50%;
        border: 0px none rgb(35, 35, 35);
        flex: 0 0 auto;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
        padding: 0px 16px;
        &:after {
          color: $color_1;

          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        &:before {
          color: $color_1;

          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        .header_body {
          // block-size: 422.617px;

          color: $color_1;

          height: 422.617px;

          overflow-wrap: break-word;
          text-align: left;

          transform-origin: 294px 211.309px;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
          &:after {
            color: $color_1;

            overflow-wrap: break-word;
            text-align: left;

            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          &:before {
            color: $color_1;

            overflow-wrap: break-word;
            text-align: left;

            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          .title {
            color: $color_1;

            overflow-wrap: break-word;

            text-align: left;

            word-break: break-word;
            border-bottom: 2px solid rgb(35, 35, 35);
            font: 94.8px / 84.48px Inter, sans-serif;
            margin: 0px 0px 32px;
            outline: rgb(35, 35, 35) none 0px;
            padding: 0px 0px 32px;
          }

          .tag_line {
            color: $color_1;
            overflow-wrap: break-word;
            text-align: left;
            word-break: break-word;
            font: 35.2px / 42.24px Inter, sans-serif;
            margin: 0px 0px 16px;
          }
          .footer {
            color: $color_1;

            overflow-wrap: break-word;
            text-align: left;

            // width: 607.188px;
            border: 0px none rgb(35, 35, 35);
            font: 0px / 0px Inter;
            margin: 32px -9.6px 0px;
          }
        }
      }
    }
  }
}
