$color_1: rgb(35, 35, 35);
$color_2: rgb(0, 0, 0);
$color_3: rgb(250, 250, 250);

.btn {
  align-items: center;
  block-size: 51.9922px;
  border-block-end-color: rgb(0, 0, 0);
  border-block-end-style: solid;
  border-block-end-width: 2px;
  border-block-start-color: rgb(0, 0, 0);
  border-block-start-style: solid;
  border-block-start-width: 2px;
  border-end-end-radius: 100px;
  border-end-start-radius: 100px;
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-end-style: solid;
  border-inline-end-width: 2px;
  border-inline-start-color: rgb(0, 0, 0);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  border-start-end-radius: 100px;
  border-start-start-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: $color_2;
  column-rule-color: rgb(0, 0, 0);
  display: inline-flex;
  height: 51.9922px;
  inline-size: 185.82px;
  justify-content: center;
  margin-block-end: 9.6px;
  margin-block-start: 9.6px;
  margin-inline-end: 9.6px;
  margin-inline-start: 9.6px;
  overflow-wrap: break-word;
  padding-block-end: 9.6px;
  padding-block-start: 9.6px;
  padding-inline-end: 19.2px;
  padding-inline-start: 19.2px;
  perspective-origin: 92.9062px 25.9922px;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-emphasis-color: rgb(0, 0, 0);
  text-size-adjust: 100%;
  transform-origin: 92.9102px 25.9961px;
  user-select: none;
  vertical-align: middle;
  width: 185.82px;
  word-break: break-word;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font: 500 19.2px / 28.8px Inter, sans-serif;
  margin: 9.6px;
  outline: rgb(0, 0, 0) none 0px;
  padding: 9.6px 19.2px;
  transition: all 0.2s ease-in-out 0s;
  &:after {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: $color_2;
    column-rule-color: rgb(0, 0, 0);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }
  &:before {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: $color_2;
    column-rule-color: rgb(0, 0, 0);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }
  .btn_icon {
    font-size: 3.2rem;
  }
  .icon {
    block-size: 28.7969px;
    border-block-end-color: rgb(250, 250, 250);
    border-block-start-color: rgb(250, 250, 250);
    border-end-end-radius: 50%;
    border-end-start-radius: 50%;
    border-inline-end-color: rgb(250, 250, 250);
    border-inline-start-color: rgb(250, 250, 250);
    border-start-end-radius: 50%;
    border-start-start-radius: 50%;
    box-sizing: border-box;
    caret-color: rgb(250, 250, 250);
    color: $color_3;
    column-rule-color: rgb(250, 250, 250);
    cursor: pointer;
    display: block;
    height: 28.7969px;
    inline-size: 28.8047px;
    margin-inline-start: 8px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    order: 1;
    overflow-wrap: break-word;
    padding-block-end: 8px;
    padding-block-start: 8px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    perspective-origin: 14.3984px 14.3984px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(250, 250, 250);
    text-emphasis-color: rgb(250, 250, 250);
    text-size-adjust: 100%;
    transform-origin: 14.4023px 14.3984px;
    user-select: none;
    vertical-align: sub;
    width: 28.8047px;
    word-break: break-word;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(250, 250, 250);
    border-radius: 50%;
    font: 700 12.8px / 12.8px Moririse2;
    margin: 0px 0px 0px 8px;
    outline: rgb(250, 250, 250) none 0px;
    // padding: 8px;
    transition: all 0.3s ease 0s;
    &:after {
      border-block-end-color: rgb(250, 250, 250);
      border-block-start-color: rgb(250, 250, 250);
      border-inline-end-color: rgb(250, 250, 250);
      border-inline-start-color: rgb(250, 250, 250);
      box-sizing: border-box;
      caret-color: rgb(250, 250, 250);
      color: $color_3;
      column-rule-color: rgb(250, 250, 250);
      cursor: pointer;
      overflow-wrap: break-word;
      speak: none;
      text-align: center;
      text-decoration: none solid rgb(250, 250, 250);
      text-emphasis-color: rgb(250, 250, 250);
      text-size-adjust: 100%;
      user-select: none;
      word-break: break-word;
      border: 0px none rgb(250, 250, 250);
      font: 700 12.8px / 12.8px Moririse2;
      outline: rgb(250, 250, 250) none 0px;
    }
    &:before {
      block-size: 12.7969px;
      border-block-end-color: rgb(250, 250, 250);
      border-block-start-color: rgb(250, 250, 250);
      border-inline-end-color: rgb(250, 250, 250);
      border-inline-start-color: rgb(250, 250, 250);
      box-sizing: border-box;
      caret-color: rgb(250, 250, 250);
      color: $color_3;
      column-rule-color: rgb(250, 250, 250);
      // content: '""';
      cursor: pointer;
      display: block;
      height: 12.7969px;
      inline-size: 12.8047px;
      overflow-wrap: break-word;
      perspective-origin: 6.39844px 6.39844px;
      speak: none;
      text-align: center;
      text-decoration: none solid rgb(250, 250, 250);
      text-emphasis-color: rgb(250, 250, 250);
      text-size-adjust: 100%;
      transform: matrix(1, 0, 0, 1, 1, 0);
      transform-origin: 6.40234px 6.39844px;
      user-select: none;
      width: 12.8047px;
      word-break: break-word;
      border: 0px none rgb(250, 250, 250);
      font: 700 12.8px / 12.8px Moririse2;
      outline: rgb(250, 250, 250) none 0px;
    }
  }
}

/*.container*/
/*.container:after*/
/*.container:before*/
/*.card_wrapper*/
/*.card_wrapper:after*/
/*.card_wrapper:before*/
/*.card*/
/*.card:after*/
/*.card:before*/
/*.header*/
/*.header:after*/
/*.header:before*/
/*.header_body*/
/*.header_body:after*/
/*.header_body:before*/
/*.title*/
/*.title:after*/
/*.title:before*/
/*.tag_line*/
/*.tag_line:after*/
/*.tag_line:before*/
/*.footer*/
/*.footer:after*/
/*.footer:before*/
/*.btn*/
/*.btn:after*/
/*.btn:before*/
/*.icon*/
/*.icon:after*/
/*.icon:before*/
/*.picture*/
/*.picture:after*/
/*.picture:before*/
/*.avatar*/
/*.avatar:after*/
/*.avatar:before*/
.container {
  background-position: 50% 50%;
  block-size: 841.906px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: $color_1;
  column-rule-color: rgb(35, 35, 35);
  height: 841.906px;
  inline-size: 1440px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  padding-block-end: 48px;
  padding-block-start: 128px;
  perspective-origin: 720px 420.953px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 720px 420.953px;
  width: 1440px;
  background: rgb(249, 249, 249) none no-repeat scroll 50% 50% / cover padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 48px 0px 48px;
  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: $color_1;
    column-rule-color: rgb(35, 35, 35);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: $color_1;
    column-rule-color: rgb(35, 35, 35);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
  .card_wrapper {
    block-size: 665.906px;
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: $color_1;
    column-rule-color: rgb(35, 35, 35);
    height: 665.906px;
    inline-size: 1400px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
    max-inline-size: 1400px;
    max-width: 1400px;
    overflow-wrap: break-word;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    perspective-origin: 700px 332.953px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 700px 332.953px;
    width: 1400px;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    margin: 0px 20px;
    outline: rgb(35, 35, 35) none 0px;
    padding: 0px 32px;
    &:after {
      border-block-end-color: rgb(35, 35, 35);
      border-block-start-color: rgb(35, 35, 35);
      border-inline-end-color: rgb(35, 35, 35);
      border-inline-start-color: rgb(35, 35, 35);
      box-sizing: border-box;
      caret-color: rgb(35, 35, 35);
      color: $color_1;
      column-rule-color: rgb(35, 35, 35);
      overflow-wrap: break-word;
      text-decoration: none solid rgb(35, 35, 35);
      text-emphasis-color: rgb(35, 35, 35);
      text-size-adjust: 100%;
      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }
    &:before {
      border-block-end-color: rgb(35, 35, 35);
      border-block-start-color: rgb(35, 35, 35);
      border-inline-end-color: rgb(35, 35, 35);
      border-inline-start-color: rgb(35, 35, 35);
      box-sizing: border-box;
      caret-color: rgb(35, 35, 35);
      color: $color_1;
      column-rule-color: rgb(35, 35, 35);
      overflow-wrap: break-word;
      text-decoration: none solid rgb(35, 35, 35);
      text-emphasis-color: rgb(35, 35, 35);
      text-size-adjust: 100%;
      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }
    .card {
      align-items: center;
      block-size: 665.906px;
      border-block-end-color: rgb(35, 35, 35);
      border-block-start-color: rgb(35, 35, 35);
      border-end-end-radius: 32px;
      border-end-start-radius: 32px;
      border-inline-end-color: rgb(35, 35, 35);
      border-inline-start-color: rgb(35, 35, 35);
      border-start-end-radius: 32px;
      border-start-start-radius: 32px;
      box-sizing: border-box;
      caret-color: rgb(35, 35, 35);
      color: $color_1;
      column-rule-color: rgb(35, 35, 35);
      display: flex;
      height: 665.906px;
      inline-size: 1336px;
      justify-content: center;
      overflow-wrap: break-word;
      padding-block-end: 48px;
      padding-block-start: 48px;
      padding-inline-end: 48px;
      padding-inline-start: 48px;
      perspective-origin: 668px 332.953px;
      text-decoration: none solid rgb(35, 35, 35);
      text-emphasis-color: rgb(35, 35, 35);
      text-size-adjust: 100%;
      transform-origin: 668px 332.953px;
      width: 1336px;
      background: rgb(255 153 1) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(35, 35, 35);
      border-radius: 32px;
      flex-flow: row wrap;
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
      padding: 48px;
      &:after {
        border-block-end-color: rgb(35, 35, 35);
        border-block-start-color: rgb(35, 35, 35);
        border-inline-end-color: rgb(35, 35, 35);
        border-inline-start-color: rgb(35, 35, 35);
        box-sizing: border-box;
        caret-color: rgb(35, 35, 35);
        color: $color_1;
        column-rule-color: rgb(35, 35, 35);
        display: block;
        overflow-wrap: break-word;
        text-decoration: none solid rgb(35, 35, 35);
        text-emphasis-color: rgb(35, 35, 35);
        text-size-adjust: 100%;
        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      &:before {
        border-block-end-color: rgb(35, 35, 35);
        border-block-start-color: rgb(35, 35, 35);
        border-inline-end-color: rgb(35, 35, 35);
        border-inline-start-color: rgb(35, 35, 35);
        box-sizing: border-box;
        caret-color: rgb(35, 35, 35);
        color: $color_1;
        column-rule-color: rgb(35, 35, 35);
        display: block;
        overflow-wrap: break-word;
        text-decoration: none solid rgb(35, 35, 35);
        text-emphasis-color: rgb(35, 35, 35);
        text-size-adjust: 100%;
        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      .picture {
        block-size: 569.906px;
        border-block-end-color: rgb(35, 35, 35);
        border-block-start-color: rgb(35, 35, 35);
        border-inline-end-color: rgb(35, 35, 35);
        border-inline-start-color: rgb(35, 35, 35);
        box-sizing: border-box;
        caret-color: rgb(35, 35, 35);
        color: $color_1;
        column-rule-color: rgb(35, 35, 35);
        height: 569.906px;
        inline-size: 620px;
        max-inline-size: 100%;
        max-width: 100%;
        min-block-size: auto;
        min-height: auto;
        min-inline-size: auto;
        min-width: auto;
        overflow-wrap: break-word;
        padding-inline-end: 16px;
        padding-inline-start: 16px;
        perspective-origin: 310px 284.953px;
        text-decoration: none solid rgb(35, 35, 35);
        text-emphasis-color: rgb(35, 35, 35);
        text-size-adjust: 100%;
        transform-origin: 310px 284.953px;
        width: 620px;
        border: 0px none rgb(35, 35, 35);
        flex: 0 0 auto;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
        padding: 0px 16px;
        &:after {
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          overflow-wrap: break-word;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        &:before {
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          overflow-wrap: break-word;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        .avatar {
          block-size: 569.906px;
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-end-end-radius: 16px;
          border-end-start-radius: 16px;
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          border-start-end-radius: 16px;
          border-start-start-radius: 16px;
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          display: block;
          height: 569.906px;
          inline-size: 588px;
          overflow-wrap: break-word;
          perspective-origin: 294px 284.953px;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          transform-origin: 294px 284.953px;
          vertical-align: middle;
          width: 588px;
          border: 0px none rgb(35, 35, 35);
          border-radius: 16px;
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
          transition: all 0.3s ease 0s;
          &:after {
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            overflow-wrap: break-word;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          &:before {
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            overflow-wrap: break-word;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
        }
      }
      .header {
        block-size: 422.617px;
        border-block-end-color: rgb(35, 35, 35);
        border-block-start-color: rgb(35, 35, 35);
        border-inline-end-color: rgb(35, 35, 35);
        border-inline-start-color: rgb(35, 35, 35);
        box-sizing: border-box;
        caret-color: rgb(35, 35, 35);
        color: $color_1;
        column-rule-color: rgb(35, 35, 35);
        height: 422.617px;
        inline-size: 620px;
        max-inline-size: 100%;
        max-width: 100%;
        min-block-size: auto;
        min-height: auto;
        min-inline-size: auto;
        min-width: auto;
        overflow-wrap: break-word;
        padding-inline-end: 16px;
        padding-inline-start: 16px;
        perspective-origin: 310px 211.305px;
        text-decoration: none solid rgb(35, 35, 35);
        text-emphasis-color: rgb(35, 35, 35);
        text-size-adjust: 100%;
        transform-origin: 310px 211.309px;
        width: 620px;
        border: 0px none rgb(35, 35, 35);
        flex: 0 0 auto;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
        padding: 0px 16px;
        &:after {
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          overflow-wrap: break-word;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        &:before {
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          overflow-wrap: break-word;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
        .header_body {
          block-size: 422.617px;
          border-block-end-color: rgb(35, 35, 35);
          border-block-start-color: rgb(35, 35, 35);
          border-inline-end-color: rgb(35, 35, 35);
          border-inline-start-color: rgb(35, 35, 35);
          box-sizing: border-box;
          caret-color: rgb(35, 35, 35);
          color: $color_1;
          column-rule-color: rgb(35, 35, 35);
          height: 422.617px;
          inline-size: 588px;
          overflow-wrap: break-word;
          perspective-origin: 294px 211.305px;
          text-align: left;
          text-decoration: none solid rgb(35, 35, 35);
          text-emphasis-color: rgb(35, 35, 35);
          text-size-adjust: 100%;
          transform-origin: 294px 211.309px;
          width: 588px;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
          &:after {
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            overflow-wrap: break-word;
            text-align: left;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          &:before {
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            overflow-wrap: break-word;
            text-align: left;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            border: 0px none rgb(35, 35, 35);
            font: 16px / 24px Inter;
            outline: rgb(35, 35, 35) none 0px;
          }
          .title {
            block-size: 202.953px;
            border-block-end-color: rgb(35, 35, 35);
            border-block-end-style: solid;
            border-block-end-width: 2px;
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            height: 202.953px;
            inline-size: 588px;
            margin-block-end: 32px;
            margin-block-start: 0px;
            overflow-wrap: break-word;
            padding-block-end: 32px;
            perspective-origin: 294px 101.477px;
            text-align: left;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            transform-origin: 294px 101.477px;
            width: 588px;
            word-break: break-word;
            border-top: 0px none rgb(35, 35, 35);
            border-right: 0px none rgb(35, 35, 35);
            border-bottom: 2px solid rgb(35, 35, 35);
            border-left: 0px none rgb(35, 35, 35);
            font: 76.8px / 84.48px Inter, sans-serif;
            margin: 0px 0px 32px;
            outline: rgb(35, 35, 35) none 0px;
            padding: 0px 0px 32px;
            &:after {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              word-break: break-word;
              border: 0px none rgb(35, 35, 35);
              font: 76.8px / 84.48px Inter, sans-serif;
              outline: rgb(35, 35, 35) none 0px;
            }
            &:before {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              word-break: break-word;
              border: 0px none rgb(35, 35, 35);
              font: 76.8px / 84.48px Inter, sans-serif;
              outline: rgb(35, 35, 35) none 0px;
            }
          }

          .tag_line {
            block-size: 84.4844px;
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            height: 84.4844px;
            inline-size: 588px;
            margin-block-end: 16px;
            margin-block-start: 0px;
            overflow-wrap: break-word;
            perspective-origin: 294px 42.2422px;
            text-align: left;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            transform-origin: 294px 42.2422px;
            width: 588px;
            word-break: break-word;
            border: 0px none rgb(35, 35, 35);
            font: 35.2px / 42.24px Inter, sans-serif;
            margin: 0px 0px 16px;
            outline: rgb(35, 35, 35) none 0px;
            &:after {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              word-break: break-word;
              border: 0px none rgb(35, 35, 35);
              font: 35.2px / 42.24px Inter, sans-serif;
              outline: rgb(35, 35, 35) none 0px;
            }
            &:before {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              word-break: break-word;
              border: 0px none rgb(35, 35, 35);
              font: 35.2px / 42.24px Inter, sans-serif;
              outline: rgb(35, 35, 35) none 0px;
            }
          }
          .footer {
            block-size: 71.1797px;
            border-block-end-color: rgb(35, 35, 35);
            border-block-start-color: rgb(35, 35, 35);
            border-inline-end-color: rgb(35, 35, 35);
            border-inline-start-color: rgb(35, 35, 35);
            box-sizing: border-box;
            caret-color: rgb(35, 35, 35);
            color: $color_1;
            column-rule-color: rgb(35, 35, 35);
            height: 71.1797px;
            inline-size: 607.188px;
            margin-block-start: 32px;
            margin-inline-end: -9.6px;
            margin-inline-start: -9.6px;
            overflow-wrap: break-word;
            perspective-origin: 303.594px 35.5859px;
            text-align: left;
            text-decoration: none solid rgb(35, 35, 35);
            text-emphasis-color: rgb(35, 35, 35);
            text-size-adjust: 100%;
            transform-origin: 303.594px 35.5898px;
            width: 607.188px;
            border: 0px none rgb(35, 35, 35);
            font: 0px / 0px Inter;
            margin: 32px -9.6px 0px;
            outline: rgb(35, 35, 35) none 0px;
            &:after {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              border: 0px none rgb(35, 35, 35);
              font: 0px / 0px Inter;
              outline: rgb(35, 35, 35) none 0px;
            }
            &:before {
              border-block-end-color: rgb(35, 35, 35);
              border-block-start-color: rgb(35, 35, 35);
              border-inline-end-color: rgb(35, 35, 35);
              border-inline-start-color: rgb(35, 35, 35);
              box-sizing: border-box;
              caret-color: rgb(35, 35, 35);
              color: $color_1;
              column-rule-color: rgb(35, 35, 35);
              overflow-wrap: break-word;
              text-align: left;
              text-decoration: none solid rgb(35, 35, 35);
              text-emphasis-color: rgb(35, 35, 35);
              text-size-adjust: 100%;
              border: 0px none rgb(35, 35, 35);
              font: 0px / 0px Inter;
              outline: rgb(35, 35, 35) none 0px;
            }
          }
        }
      }
    }
  }
}
.how_it_works {
  display: flex;
  padding: 5rem 2rem;
  justify-content: center;
  .card_wrapper {
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    border: none;
    flex: 0 0 auto;
    width: 33.3333333333%;
    .card {
      padding: 2rem;
      border-radius: 2rem;
      transition: all 0.3s;
      background: #eeeeee;
      .icon {
        font-size: 7rem;
        text-align: center;
      }
      .body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 2.2rem;
          font-weight: 100;
          text-transform: capitalize;
          text-align: center;
        }
      }
    }
  }
}
