.SECTION_1 {
  background-position: 50% 50%;
  block-size: 930.469px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 930.469px;
  inline-size: 1440px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  padding-block-end: 96px;
  padding-block-start: 96px;
  perspective-origin: 720px 465.234px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 720px 465.234px;
  width: 1440px;
  background: rgb(249, 249, 249) none no-repeat scroll 50% 50% / cover padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 96px 0px;
} /*.SECTION_1*/

.SECTION_1:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.SECTION_1:after*/

.SECTION_1:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.SECTION_1:before*/

.DIV_2 {
  block-size: 738.469px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 738.469px;
  inline-size: 1400px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  margin-inline-end: 20px;
  margin-inline-start: 20px;
  max-inline-size: 1400px;
  max-width: 1400px;
  overflow-wrap: break-word;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 700px 369.234px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 700px 369.234px;
  width: 1400px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  margin: 0px 20px;
  outline: rgb(35, 35, 35) none 0px;
  padding: 0px 32px;
} /*.DIV_2*/

.DIV_2:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_2:after*/

.DIV_2:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_2:before*/

.DIV_3 {
  block-size: 66.2422px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 66.2422px;
  inline-size: 1336px;
  overflow-wrap: break-word;
  padding-block-end: 24px;
  perspective-origin: 668px 33.1172px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 668px 33.1211px;
  width: 1336px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 0px 0px 24px;
} /*.DIV_3*/

.DIV_3:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_3:after*/

.DIV_3:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_3:before*/

.H4_4 {
  block-size: 42.2422px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 42.2422px;
  inline-size: 1336px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  perspective-origin: 668px 21.1172px;
  text-align: left;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 668px 21.1211px;
  width: 1336px;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 35.2px / 42.24px Inter, sans-serif;
  margin: 0px;
  outline: rgb(35, 35, 35) none 0px;
} /*.H4_4*/

.H4_4:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(35, 35, 35) none 0px;
} /*.H4_4:after*/

.H4_4:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-align: left;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(35, 35, 35) none 0px;
} /*.H4_4:before*/

.DIV_5 {
  block-size: 672.227px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 32px;
  border-start-start-radius: 32px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: flex;
  height: 672.227px;
  inline-size: 1336px;
  justify-content: center;
  overflow-wrap: break-word;
  padding-block-end: 32px;
  padding-block-start: 32px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  perspective-origin: 668px 336.109px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 668px 336.113px;
  width: 1336px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  border-radius: 32px;
  flex-flow: row wrap;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 32px 16px;
} /*.DIV_5*/

.DIV_5:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_5:after*/

.DIV_5:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_5:before*/

.DIV_6,
.DIV_19,
.DIV_32 {
  block-size: 608.227px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 608.227px;
  inline-size: 434.664px;
  max-inline-size: 100%;
  max-width: 100%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  perspective-origin: 217.328px 304.109px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 217.332px 304.113px;
  width: 434.664px;
  border: 0px none rgb(35, 35, 35);
  flex: 0 0 auto;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 0px 16px;
} /*.DIV_6, .DIV_19, .DIV_32*/

.DIV_6:after,
.DIV_19:after,
.DIV_32:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_6:after, .DIV_19:after, .DIV_32:after*/

.DIV_6:before,
.DIV_19:before,
.DIV_32:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_6:before, .DIV_19:before, .DIV_32:before*/

.DIV_7 {
  block-size: 608.227px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 32px;
  border-start-start-radius: 32px;
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: flex;
  height: 608.227px;
  inline-size: 402.664px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  padding-block-end: 32px;
  padding-block-start: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 201.328px 304.109px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 201.332px 304.113px;
  width: 402.664px;
  background: rgb(255, 204, 1) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  border-radius: 32px;
  flex-flow: column nowrap;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  overflow: hidden;
  padding: 32px;
  transition: all 0.3s ease 0s;
} /*.DIV_7*/

.DIV_7:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_7:after*/

.DIV_7:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_7:before*/

.DIV_8,
.DIV_21,
.DIV_34 {
  block-size: 107.047px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 107.047px;
  inline-size: 338.664px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 53.5234px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 53.5234px;
  width: 338.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_8, .DIV_21, .DIV_34*/

.DIV_8:after,
.DIV_21:after,
.DIV_34:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_8:after, .DIV_21:after, .DIV_34:after*/

.DIV_8:before,
.DIV_21:before,
.DIV_34:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_8:before, .DIV_21:before, .DIV_34:before*/

.H6_9,
.H6_22,
.H6_35 {
  block-size: 28.8047px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 28.8047px;
  inline-size: 338.664px;
  margin-block-end: 4px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 14.3984px;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 169.332px 14.4023px;
  width: 338.664px;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 19.2px / 28.8px Inter, sans-serif;
  margin: 0px 0px 4px;
  outline: rgb(18, 18, 18) none 0px;
} /*.H6_9, .H6_22, .H6_35*/

.H6_9:after,
.H6_22:after,
.H6_35:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 19.2px / 28.8px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.H6_9:after, .H6_22:after, .H6_35:after*/

.H6_9:before,
.H6_22:before,
.H6_35:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 19.2px / 28.8px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.H6_9:before, .H6_22:before, .H6_35:before*/

.H5_10,
.H5_23,
.H5_36 {
  block-size: 42.2422px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 42.2422px;
  inline-size: 338.664px;
  margin-block-end: 32px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 21.1172px;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 169.332px 21.1211px;
  width: 338.664px;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  margin: 0px 0px 32px;
  outline: rgb(18, 18, 18) none 0px;
} /*.H5_10, .H5_23, .H5_36*/

.H5_10:after,
.H5_23:after,
.H5_36:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.H5_10:after, .H5_23:after, .H5_36:after*/

.H5_10:before,
.H5_23:before,
.H5_36:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.H5_10:before, .H5_23:before, .H5_36:before*/

.DIV_11,
.DIV_24,
.DIV_37 {
  block-size: 350px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 16px;
  border-start-start-radius: 16px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 350px;
  inline-size: 338.664px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  object-fit: cover;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 175px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 175px;
  width: 338.664px;
  border: 0px none rgb(35, 35, 35);
  border-radius: 16px;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_11, .DIV_24, .DIV_37*/

.DIV_11:after,
.DIV_24:after,
.DIV_37:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_11:after, .DIV_24:after, .DIV_37:after*/

.DIV_11:before,
.DIV_24:before,
.DIV_37:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_11:before, .DIV_24:before, .DIV_37:before*/

.IMG_12,
.IMG_25,
.IMG_38 {
  block-size: 350px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 16px;
  border-start-start-radius: 16px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  height: 350px;
  inline-size: 338.664px;
  object-fit: cover;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 175px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 175px;
  vertical-align: middle;
  width: 338.664px;
  border: 0px none rgb(35, 35, 35);
  border-radius: 16px;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.IMG_12, .IMG_25, .IMG_38*/

.IMG_12:after,
.IMG_25:after,
.IMG_38:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.IMG_12:after, .IMG_25:after, .IMG_38:after*/

.IMG_12:before,
.IMG_25:before,
.IMG_38:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.IMG_12:before, .IMG_25:before, .IMG_38:before*/

.DIV_13,
.DIV_26,
.DIV_39 {
  block-size: 87.1797px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  height: 87.1797px;
  inline-size: 338.664px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 43.5859px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 43.5898px;
  width: 338.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_13, .DIV_26, .DIV_39*/

.DIV_13:after,
.DIV_26:after,
.DIV_39:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_13:after, .DIV_26:after, .DIV_39:after*/

.DIV_13:before,
.DIV_26:before,
.DIV_39:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_13:before, .DIV_26:before, .DIV_39:before*/

.DIV_14,
.DIV_27,
.DIV_40 {
  align-items: center;
  block-size: 71.1797px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: flex;
  height: 71.1797px;
  inline-size: 338.664px;
  justify-content: space-between;
  margin-block-start: 16px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 35.5859px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 35.5898px;
  width: 338.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  margin: 16px 0px 0px;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_14, .DIV_27, .DIV_40*/

.DIV_14:after,
.DIV_27:after,
.DIV_40:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_14:after, .DIV_27:after, .DIV_40:after*/

.DIV_14:before,
.DIV_27:before,
.DIV_40:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_14:before, .DIV_27:before, .DIV_40:before*/

.DIV_15,
.DIV_28,
.DIV_41 {
  block-size: 71.1797px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 71.1797px;
  inline-size: 205.008px;
  margin-inline-end: -9.6px;
  margin-inline-start: -9.6px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 102.5px 35.5859px;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 102.504px 35.5898px;
  width: 205.008px;
  border: 0px none rgb(18, 18, 18);
  font: 0px / 0px Inter;
  margin: 0px -9.6px;
  outline: rgb(18, 18, 18) none 0px;
} /*.DIV_15, .DIV_28, .DIV_41*/

.DIV_15:after,
.DIV_28:after,
.DIV_41:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  border: 0px none rgb(18, 18, 18);
  font: 0px / 0px Inter;
  outline: rgb(18, 18, 18) none 0px;
} /*.DIV_15:after, .DIV_28:after, .DIV_41:after*/

.DIV_15:before,
.DIV_28:before,
.DIV_41:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  border: 0px none rgb(18, 18, 18);
  font: 0px / 0px Inter;
  outline: rgb(18, 18, 18) none 0px;
} /*.DIV_15:before, .DIV_28:before, .DIV_41:before*/

.A_16,
.A_29,
.A_42 {
  align-items: center;
  block-size: 51.9922px;
  border-block-end-color: rgb(0, 0, 0);
  border-block-end-style: solid;
  border-block-end-width: 2px;
  border-block-start-color: rgb(0, 0, 0);
  border-block-start-style: solid;
  border-block-start-width: 2px;
  border-end-end-radius: 100px;
  border-end-start-radius: 100px;
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-end-style: solid;
  border-inline-end-width: 2px;
  border-inline-start-color: rgb(0, 0, 0);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  border-start-end-radius: 100px;
  border-start-start-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  column-rule-color: rgb(0, 0, 0);
  display: inline-flex;
  height: 51.9922px;
  inline-size: 185.82px;
  justify-content: center;
  margin-block-end: 9.6px;
  margin-block-start: 9.6px;
  margin-inline-end: 9.6px;
  margin-inline-start: 9.6px;
  overflow-wrap: break-word;
  padding-block-end: 9.6px;
  padding-block-start: 9.6px;
  padding-inline-end: 19.2px;
  padding-inline-start: 19.2px;
  perspective-origin: 92.9062px 25.9922px;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-emphasis-color: rgb(0, 0, 0);
  text-size-adjust: 100%;
  transform-origin: 92.9102px 25.9961px;
  user-select: none;
  vertical-align: middle;
  width: 185.82px;
  word-break: break-word;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font: 500 19.2px / 28.8px Inter, sans-serif;
  margin: 9.6px;
  outline: rgb(0, 0, 0) none 0px;
  padding: 9.6px 19.2px;
  transition: all 0.2s ease-in-out 0s;
} /*.A_16, .A_29, .A_42*/

.A_16:after,
.A_29:after,
.A_42:after {
  border-block-end-color: rgb(0, 0, 0);
  border-block-start-color: rgb(0, 0, 0);
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-start-color: rgb(0, 0, 0);
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  column-rule-color: rgb(0, 0, 0);
  display: block;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-emphasis-color: rgb(0, 0, 0);
  text-size-adjust: 100%;
  user-select: none;
  word-break: break-word;
  border: 0px none rgb(0, 0, 0);
  font: 500 19.2px / 28.8px Inter, sans-serif;
  outline: rgb(0, 0, 0) none 0px;
} /*.A_16:after, .A_29:after, .A_42:after*/

.A_16:before,
.A_29:before,
.A_42:before {
  border-block-end-color: rgb(0, 0, 0);
  border-block-start-color: rgb(0, 0, 0);
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-start-color: rgb(0, 0, 0);
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  column-rule-color: rgb(0, 0, 0);
  display: block;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-emphasis-color: rgb(0, 0, 0);
  text-size-adjust: 100%;
  user-select: none;
  word-break: break-word;
  border: 0px none rgb(0, 0, 0);
  font: 500 19.2px / 28.8px Inter, sans-serif;
  outline: rgb(0, 0, 0) none 0px;
} /*.A_16:before, .A_29:before, .A_42:before*/

.SPAN_17,
.SPAN_30,
.SPAN_43 {
  block-size: 28.7969px;
  border-block-end-color: rgb(250, 250, 250);
  border-block-start-color: rgb(250, 250, 250);
  border-end-end-radius: 50%;
  border-end-start-radius: 50%;
  border-inline-end-color: rgb(250, 250, 250);
  border-inline-start-color: rgb(250, 250, 250);
  border-start-end-radius: 50%;
  border-start-start-radius: 50%;
  box-sizing: border-box;
  caret-color: rgb(250, 250, 250);
  color: rgb(250, 250, 250);
  column-rule-color: rgb(250, 250, 250);
  cursor: pointer;
  display: block;
  height: 28.7969px;
  inline-size: 28.8047px;
  margin-inline-start: 8px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  order: 1;
  overflow-wrap: break-word;
  padding-block-end: 8px;
  padding-block-start: 8px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  perspective-origin: 14.3984px 14.3984px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(250, 250, 250);
  text-emphasis-color: rgb(250, 250, 250);
  text-size-adjust: 100%;
  transform-origin: 14.4023px 14.3984px;
  user-select: none;
  vertical-align: sub;
  width: 28.8047px;
  word-break: break-word;
  background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(250, 250, 250);
  border-radius: 50%;
  font: 700 12.8px / 12.8px Moririse2;
  margin: 0px 0px 0px 8px;
  outline: rgb(250, 250, 250) none 0px;
  padding: 8px;
  transition: all 0.3s ease 0s;
} /*.SPAN_17, .SPAN_30, .SPAN_43*/

.SPAN_17:after,
.SPAN_30:after,
.SPAN_43:after {
  border-block-end-color: rgb(250, 250, 250);
  border-block-start-color: rgb(250, 250, 250);
  border-inline-end-color: rgb(250, 250, 250);
  border-inline-start-color: rgb(250, 250, 250);
  box-sizing: border-box;
  caret-color: rgb(250, 250, 250);
  color: rgb(250, 250, 250);
  column-rule-color: rgb(250, 250, 250);
  cursor: pointer;
  overflow-wrap: break-word;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(250, 250, 250);
  text-emphasis-color: rgb(250, 250, 250);
  text-size-adjust: 100%;
  user-select: none;
  word-break: break-word;
  border: 0px none rgb(250, 250, 250);
  font: 700 12.8px / 12.8px Moririse2;
  outline: rgb(250, 250, 250) none 0px;
} /*.SPAN_17:after, .SPAN_30:after, .SPAN_43:after*/

.SPAN_17:before,
.SPAN_30:before,
.SPAN_43:before {
  block-size: 12.7969px;
  border-block-end-color: rgb(250, 250, 250);
  border-block-start-color: rgb(250, 250, 250);
  border-inline-end-color: rgb(250, 250, 250);
  border-inline-start-color: rgb(250, 250, 250);
  box-sizing: border-box;
  caret-color: rgb(250, 250, 250);
  color: rgb(250, 250, 250);
  column-rule-color: rgb(250, 250, 250);
  content: '""';
  cursor: pointer;
  display: block;
  height: 12.7969px;
  inline-size: 12.8047px;
  overflow-wrap: break-word;
  perspective-origin: 6.39844px 6.39844px;
  speak: none;
  text-align: center;
  text-decoration: none solid rgb(250, 250, 250);
  text-emphasis-color: rgb(250, 250, 250);
  text-size-adjust: 100%;
  transform: matrix(1, 0, 0, 1, 1, 0);
  transform-origin: 6.40234px 6.39844px;
  user-select: none;
  width: 12.8047px;
  word-break: break-word;
  border: 0px none rgb(250, 250, 250);
  font: 700 12.8px / 12.8px Moririse2;
  outline: rgb(250, 250, 250) none 0px;
} /*.SPAN_17:before, .SPAN_30:before, .SPAN_43:before*/

.P_18 {
  block-size: 42.2422px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 42.2422px;
  inline-size: 60.1016px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 30.0469px 21.1172px;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 30.0508px 21.1211px;
  width: 60.1016px;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  margin: 0px;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_18*/

.P_18:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_18:after*/

.P_18:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_18:before*/

.DIV_20 {
  block-size: 608.227px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 32px;
  border-start-start-radius: 32px;
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: flex;
  height: 608.227px;
  inline-size: 402.664px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  padding-block-end: 32px;
  padding-block-start: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 201.328px 304.109px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 201.332px 304.113px;
  width: 402.664px;
  background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  border-radius: 32px;
  flex-flow: column nowrap;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  overflow: hidden;
  padding: 32px;
  transition: all 0.3s ease 0s;
} /*.DIV_20*/

.DIV_20:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_20:after*/

.DIV_20:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_20:before*/

.P_31 {
  block-size: 42.2422px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 42.2422px;
  inline-size: 60.5px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 30.25px 21.1172px;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 30.25px 21.1211px;
  width: 60.5px;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  margin: 0px;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_31*/

.P_31:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_31:after*/

.P_31:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_31:before*/

.DIV_33 {
  block-size: 608.227px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 32px;
  border-start-start-radius: 32px;
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: flex;
  height: 608.227px;
  inline-size: 402.664px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  padding-block-end: 32px;
  padding-block-start: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 201.328px 304.109px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 201.332px 304.113px;
  width: 402.664px;
  background: rgb(168, 215, 65) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  border-radius: 32px;
  flex-flow: column nowrap;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  overflow: hidden;
  padding: 32px;
  transition: all 0.3s ease 0s;
} /*.DIV_33*/

.DIV_33:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_33:after*/

.DIV_33:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  display: block;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
} /*.DIV_33:before*/

.P_44 {
  block-size: 42.2422px;
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  height: 42.2422px;
  inline-size: 61.4062px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  perspective-origin: 30.7031px 21.1172px;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  transform-origin: 30.7031px 21.1211px;
  width: 61.4062px;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  margin: 0px;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_44*/

.P_44:after {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_44:after*/

.P_44:before {
  border-block-end-color: rgb(18, 18, 18);
  border-block-start-color: rgb(18, 18, 18);
  border-inline-end-color: rgb(18, 18, 18);
  border-inline-start-color: rgb(18, 18, 18);
  box-sizing: border-box;
  caret-color: rgb(18, 18, 18);
  color: rgb(18, 18, 18);
  column-rule-color: rgb(18, 18, 18);
  overflow-wrap: break-word;
  text-align: right;
  text-decoration: none solid rgb(18, 18, 18);
  text-emphasis-color: rgb(18, 18, 18);
  text-size-adjust: 100%;
  word-break: break-word;
  border: 0px none rgb(18, 18, 18);
  font: 35.2px / 42.24px Inter, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
} /*.P_44:before*/
