.container {
  cursor: pointer;
  height: 583.172px;

  max-width: 100%;

  min-height: auto;

  min-width: auto;
  overflow-wrap: break-word;

  width: 33%;
  flex: 0 0 auto;
  font: 16px / 24px Inter;
  margin: 0px 0px 32px;
  padding: 0px 16px;
  .card {
    block-size: 583.172px;
    bottom: 0px;
    box-sizing: border-box;

    color: rgb(35, 35, 35);

    cursor: pointer;
    display: flex;
    height: 583.172px;

    left: 0px;
    overflow-wrap: break-word;

    position: relative;
    right: 0px;

    top: 0px;
    transform-origin: 201.332px 291.586px;
    // width: 402.664px;
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(35, 35, 35);
    border-radius: 32px;
    flex-flow: column nowrap;
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
    overflow: hidden;
    transition: all 0.3s ease 0s;

    &:after {
      color: rgb(35, 35, 35);

      cursor: pointer;
      display: block;
      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }

    &:before {
      color: rgb(35, 35, 35);

      cursor: pointer;
      display: block;
      overflow-wrap: break-word;

      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
    }
    .header {
      block-size: 180px;

      color: rgb(35, 35, 35);

      cursor: pointer;
      height: 180px;

      min-height: auto;

      min-width: auto;
      overflow-wrap: break-word;

      transform-origin: 201.332px 90px;
      width: 402.664px;
      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;
      padding: 32px 32px 0px;

      &:after {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      .title_wrapper {
        block-size: 28.8047px;

        color: rgb(35, 35, 35);

        cursor: pointer;
        height: 28.8047px;

        overflow-wrap: break-word;

        transform-origin: 169.332px 14.4023px;
        width: 338.664px;
        word-break: break-word;
        border: 0px none rgb(35, 35, 35);
        font: 19.2px / 28.8px Inter, sans-serif;
        margin: 0px 0px 8px;
        outline: rgb(35, 35, 35) none 0px;

        &:after {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(35, 35, 35);
          font: 19.2px / 28.8px Inter, sans-serif;
          outline: rgb(35, 35, 35) none 0px;
        }

        &:before {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(35, 35, 35);
          font: 19.2px / 28.8px Inter, sans-serif;
          outline: rgb(35, 35, 35) none 0px;
        }
        .title {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          transform-origin: 0px 0px;
          word-break: break-word;
          border: 0px none rgb(35, 35, 35);
          font: 700 19.2px / 28.8px Inter, sans-serif;
          outline: rgb(35, 35, 35) none 0px;

          &:after {
            color: rgb(35, 35, 35);

            cursor: pointer;
            overflow-wrap: break-word;

            word-break: break-word;
            border: 0px none rgb(35, 35, 35);
            font: 700 19.2px / 28.8px Inter, sans-serif;
            outline: rgb(35, 35, 35) none 0px;
          }

          &:before {
            color: rgb(35, 35, 35);

            cursor: pointer;
            overflow-wrap: break-word;

            word-break: break-word;
            border: 0px none rgb(35, 35, 35);
            font: 700 19.2px / 28.8px Inter, sans-serif;
            outline: rgb(35, 35, 35) none 0px;
          }
        }
      }

      .category {
        block-size: 26.3984px;

        color: rgb(69, 69, 69);

        cursor: pointer;
        height: 26.3984px;

        overflow-wrap: break-word;

        transform-origin: 169.332px 13.1992px;
        // width: 338.664px;
        word-break: break-word;
        border: 0px none rgb(69, 69, 69);
        font: 17.6px / 26.4px Inter, sans-serif;
        margin: 4px 0px 8px;
        outline: rgb(69, 69, 69) none 0px;

        &:after {
          color: rgb(69, 69, 69);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(69, 69, 69);
          font: 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(69, 69, 69) none 0px;
        }

        &:before {
          color: rgb(69, 69, 69);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(69, 69, 69);
          font: 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(69, 69, 69) none 0px;
        }
      }

      .description {
        block-size: 52.7969px;

        color: rgb(35, 35, 35);

        cursor: pointer;
        height: 52.7969px;

        overflow-wrap: break-word;

        transform-origin: 169.332px 26.3984px;
        // width: 338.664px;
        word-break: break-word;
        border: 0px none rgb(35, 35, 35);
        font: 17.6px / 26.4px Inter, sans-serif;
        margin: 16px 0px;
        outline: rgb(35, 35, 35) none 0px;

        &:after {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(35, 35, 35);
          font: 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(35, 35, 35) none 0px;
        }

        &:before {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          word-break: break-word;
          border: 0px none rgb(35, 35, 35);
          font: 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(35, 35, 35) none 0px;
        }
      }
    }

    .body {
      block-size: 300px;

      color: rgb(35, 35, 35);

      cursor: pointer;
      height: 300px;

      min-height: auto;

      min-width: auto;
      object-fit: cover;
      overflow-wrap: break-word;

      transform-origin: 201.332px 150px;
      // width: 402.664px;
      border: 0px none rgb(35, 35, 35);
      font: 16px / 24px Inter;
      outline: rgb(35, 35, 35) none 0px;

      &:after {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      .picture {
        block-size: 300px;

        color: rgb(35, 35, 35);

        cursor: pointer;
        display: block;
        height: 300px;

        object-fit: cover;
        overflow-wrap: break-word;

        transform-origin: 201.332px 150px;
        vertical-align: middle;
        width: 100%;
        border: 0px none rgb(35, 35, 35);
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;

        &:after {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }

        &:before {
          color: rgb(35, 35, 35);

          cursor: pointer;
          overflow-wrap: break-word;

          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;
        }
      }
    }
    .footer {
      block-size: 103.172px;

      color: rgb(35, 35, 35);

      cursor: pointer;
      height: 103.172px;

      min-height: auto;

      min-width: auto;
      overflow-wrap: break-word;

      transform-origin: 210.926px 51.5859px;
      // width: 421.852px;
      border: 0px none rgb(35, 35, 35);
      font: 0px / 0px Inter;
      margin: 0px -9.6px;
      outline: rgb(35, 35, 35) none 0px;
      padding: 0px 32px 32px;

      &:after {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 0px / 0px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }

      &:before {
        color: rgb(35, 35, 35);

        cursor: pointer;
        overflow-wrap: break-word;

        border: 0px none rgb(35, 35, 35);
        font: 0px / 0px Inter;
        outline: rgb(35, 35, 35) none 0px;
      }
      .btn_link {
        align-items: center;
        block-size: 51.9844px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
        box-sizing: border-box;

        color: rgb(0, 0, 0);

        display: inline-flex;
        height: 51.9844px;
        justify-content: center;

        overflow-wrap: break-word;

        text-align: center;

        transform-origin: 89.6289px 25.9922px;
        user-select: none;
        vertical-align: middle;
        // width: 179.258px;
        word-break: break-word;
        background: rgb(255, 204, 1) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
        font: 500 17.6px / 26.4px Inter, sans-serif;
        margin: 9.6px;
        outline: rgb(0, 0, 0) none 0px;
        padding: 9.6px 19.2px;
        transition: all 0.2s ease-in-out 0s;

        &:after {
          color: rgb(0, 0, 0);

          display: block;
          overflow-wrap: break-word;
          text-align: center;

          user-select: none;
          word-break: break-word;
          border: 0px none rgb(0, 0, 0);
          font: 500 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(0, 0, 0) none 0px;
        }

        &:before {
          color: rgb(0, 0, 0);

          display: block;
          overflow-wrap: break-word;
          text-align: center;

          user-select: none;
          word-break: break-word;
          border: 0px none rgb(0, 0, 0);
          font: 500 17.6px / 26.4px Inter, sans-serif;
          outline: rgb(0, 0, 0) none 0px;
        }
      }
    }
  }
}
