.container {
  block-size: 583.172px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 583.172px;
  inline-size: 434.664px;
  margin-block-end: 32px;
  max-inline-size: 100%;
  max-width: 100%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  perspective-origin: 217.328px 291.586px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 217.332px 291.586px;
  width: 434.664px;
  border: 0px none rgb(35, 35, 35);
  flex: 0 0 auto;
  font: 16px / 24px Inter;
  margin: 0px 0px 32px;
  outline: rgb(35, 35, 35) none 0px;
  padding: 0px 16px;
}

.container:after {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
}

.container:before {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
}

.card {
  block-size: 583.172px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-end-end-radius: 32px;
  border-end-start-radius: 32px;
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  border-start-end-radius: 32px;
  border-start-start-radius: 32px;
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  display: flex;
  height: 583.172px;
  inline-size: 402.664px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  perspective-origin: 201.328px 291.586px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 201.332px 291.586px;
  width: 402.664px;
  background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(35, 35, 35);
  border-radius: 32px;
  flex-flow: column nowrap;
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  overflow: hidden;
  transition: all 0.3s ease 0s;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    display: block;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    display: block;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.footer {
  block-size: 103.172px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 103.172px;
  inline-size: 421.852px;
  margin-inline-end: -9.6px;
  margin-inline-start: -9.6px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-block-end: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 210.922px 51.5859px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 210.926px 51.5859px;
  width: 421.852px;
  border: 0px none rgb(35, 35, 35);
  font: 0px / 0px Inter;
  margin: 0px -9.6px;
  outline: rgb(35, 35, 35) none 0px;
  padding: 0px 32px 32px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 0px / 0px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 0px / 0px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.btn_link {
  align-items: center;
  block-size: 51.9844px;
  border-block-end-color: rgb(0, 0, 0);
  border-block-end-style: solid;
  border-block-end-width: 2px;
  border-block-start-color: rgb(0, 0, 0);
  border-block-start-style: solid;
  border-block-start-width: 2px;
  border-end-end-radius: 100px;
  border-end-start-radius: 100px;
  border-inline-end-color: rgb(0, 0, 0);
  border-inline-end-style: solid;
  border-inline-end-width: 2px;
  border-inline-start-color: rgb(0, 0, 0);
  border-inline-start-style: solid;
  border-inline-start-width: 2px;
  border-start-end-radius: 100px;
  border-start-start-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;
  caret-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  column-rule-color: rgb(0, 0, 0);
  display: inline-flex;
  height: 51.9844px;
  inline-size: 179.258px;
  justify-content: center;
  margin-block-end: 9.6px;
  margin-block-start: 9.6px;
  margin-inline-end: 9.6px;
  margin-inline-start: 9.6px;
  overflow-wrap: break-word;
  padding-block-end: 9.6px;
  padding-block-start: 9.6px;
  padding-inline-end: 19.2px;
  padding-inline-start: 19.2px;
  perspective-origin: 89.625px 25.9922px;
  text-align: center;
  text-decoration: none solid rgb(0, 0, 0);
  text-emphasis-color: rgb(0, 0, 0);
  text-size-adjust: 100%;
  transform-origin: 89.6289px 25.9922px;
  user-select: none;
  vertical-align: middle;
  width: 179.258px;
  word-break: break-word;
  background: rgb(255, 204, 1) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  font: 500 17.6px / 26.4px Inter, sans-serif;
  margin: 9.6px;
  outline: rgb(0, 0, 0) none 0px;
  padding: 9.6px 19.2px;
  transition: all 0.2s ease-in-out 0s;

  &:after {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }

  &:before {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    word-break: break-word;
    border: 0px none rgb(0, 0, 0);
    font: 500 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
  }
}

.description {
  block-size: 52.7969px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 52.7969px;
  inline-size: 338.664px;
  margin-block-end: 16px;
  margin-block-start: 16px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 26.3984px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 26.3984px;
  width: 338.664px;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 17.6px / 26.4px Inter, sans-serif;
  margin: 16px 0px;
  outline: rgb(35, 35, 35) none 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.title {
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  overflow-wrap: break-word;
  perspective-origin: 0px 0px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 700 19.2px / 28.8px Inter, sans-serif;
  outline: rgb(35, 35, 35) none 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 700 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 700 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.title_wrapper {
  block-size: 28.8047px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 28.8047px;
  inline-size: 338.664px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 14.3984px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 169.332px 14.4023px;
  width: 338.664px;
  word-break: break-word;
  border: 0px none rgb(35, 35, 35);
  font: 19.2px / 28.8px Inter, sans-serif;
  margin: 0px 0px 8px;
  outline: rgb(35, 35, 35) none 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(35, 35, 35);
    font: 19.2px / 28.8px Inter, sans-serif;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.header {
  block-size: 180px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 180px;
  inline-size: 402.664px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  padding-block-start: 32px;
  padding-inline-end: 32px;
  padding-inline-start: 32px;
  perspective-origin: 201.328px 90px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 201.332px 90px;
  width: 402.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;
  padding: 32px 32px 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.body {
  block-size: 300px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  height: 300px;
  inline-size: 402.664px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  object-fit: cover;
  overflow-wrap: break-word;
  perspective-origin: 201.328px 150px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 201.332px 150px;
  width: 402.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.picture {
  block-size: 300px;
  border-block-end-color: rgb(35, 35, 35);
  border-block-start-color: rgb(35, 35, 35);
  border-inline-end-color: rgb(35, 35, 35);
  border-inline-start-color: rgb(35, 35, 35);
  box-sizing: border-box;
  caret-color: rgb(35, 35, 35);
  color: rgb(35, 35, 35);
  column-rule-color: rgb(35, 35, 35);
  cursor: pointer;
  display: block;
  height: 300px;
  inline-size: 402.664px;
  object-fit: cover;
  overflow-wrap: break-word;
  perspective-origin: 201.328px 150px;
  text-decoration: none solid rgb(35, 35, 35);
  text-emphasis-color: rgb(35, 35, 35);
  text-size-adjust: 100%;
  transform-origin: 201.332px 150px;
  vertical-align: middle;
  width: 402.664px;
  border: 0px none rgb(35, 35, 35);
  font: 16px / 24px Inter;
  outline: rgb(35, 35, 35) none 0px;

  &:after {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }

  &:before {
    border-block-end-color: rgb(35, 35, 35);
    border-block-start-color: rgb(35, 35, 35);
    border-inline-end-color: rgb(35, 35, 35);
    border-inline-start-color: rgb(35, 35, 35);
    box-sizing: border-box;
    caret-color: rgb(35, 35, 35);
    color: rgb(35, 35, 35);
    column-rule-color: rgb(35, 35, 35);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(35, 35, 35);
    text-emphasis-color: rgb(35, 35, 35);
    text-size-adjust: 100%;
    border: 0px none rgb(35, 35, 35);
    font: 16px / 24px Inter;
    outline: rgb(35, 35, 35) none 0px;
  }
}

.category {
  block-size: 26.3984px;
  border-block-end-color: rgb(69, 69, 69);
  border-block-start-color: rgb(69, 69, 69);
  border-inline-end-color: rgb(69, 69, 69);
  border-inline-start-color: rgb(69, 69, 69);
  box-sizing: border-box;
  caret-color: rgb(69, 69, 69);
  color: rgb(69, 69, 69);
  column-rule-color: rgb(69, 69, 69);
  cursor: pointer;
  height: 26.3984px;
  inline-size: 338.664px;
  margin-block-end: 8px;
  margin-block-start: 4px;
  overflow-wrap: break-word;
  perspective-origin: 169.328px 13.1953px;
  text-decoration: none solid rgb(69, 69, 69);
  text-emphasis-color: rgb(69, 69, 69);
  text-size-adjust: 100%;
  transform-origin: 169.332px 13.1992px;
  width: 338.664px;
  word-break: break-word;
  border: 0px none rgb(69, 69, 69);
  font: 17.6px / 26.4px Inter, sans-serif;
  margin: 4px 0px 8px;
  outline: rgb(69, 69, 69) none 0px;

  &:after {
    border-block-end-color: rgb(69, 69, 69);
    border-block-start-color: rgb(69, 69, 69);
    border-inline-end-color: rgb(69, 69, 69);
    border-inline-start-color: rgb(69, 69, 69);
    box-sizing: border-box;
    caret-color: rgb(69, 69, 69);
    color: rgb(69, 69, 69);
    column-rule-color: rgb(69, 69, 69);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(69, 69, 69);
    text-emphasis-color: rgb(69, 69, 69);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(69, 69, 69);
    font: 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(69, 69, 69) none 0px;
  }

  &:before {
    border-block-end-color: rgb(69, 69, 69);
    border-block-start-color: rgb(69, 69, 69);
    border-inline-end-color: rgb(69, 69, 69);
    border-inline-start-color: rgb(69, 69, 69);
    box-sizing: border-box;
    caret-color: rgb(69, 69, 69);
    color: rgb(69, 69, 69);
    column-rule-color: rgb(69, 69, 69);
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(69, 69, 69);
    text-emphasis-color: rgb(69, 69, 69);
    text-size-adjust: 100%;
    word-break: break-word;
    border: 0px none rgb(69, 69, 69);
    font: 17.6px / 26.4px Inter, sans-serif;
    outline: rgb(69, 69, 69) none 0px;
  }
}
