.cat_container {
  padding-left: 12rem;
  padding-right: 12rem;
}
.container {
  width: 100%;
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 41px;

    margin: auto;
    justify-content: center;
  }
}
