.section {
  .categories {
    width: calc(100% - 120px);
    max-width: 1400px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;

    .list {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }
  }
}