.section {
  .categories {
    padding: 3rem;
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    .list {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }
  }
}
