$color_1: rgb(35, 35, 35);
$color_2: rgb(0, 0, 0);
$color_3: rgb(250, 250, 250);

.section {
  background-position: 50% 50%;
  padding: 18px 0px 48px;

  .container {
    max-width: 1400px;

    margin: 0 auto;
    width: 100%;
    padding: 0 2rem !important;
    overflow-wrap: break-word;

    .card {
      align-items: center;

      color: $color_1;

      display: flex;
      // height: 665.906px;

      justify-content: center;
      overflow-wrap: break-word;

      // transform-origin: 668px 332.953px;
      // width: 1336px;
      background: rgb(255 153 1) none repeat scroll 0% 0% / auto padding-box border-box;

      flex-flow: row wrap;
      // padding: 48px 34px;

      padding: 3rem;
      border-radius: 2rem;

      .picture {
        width: 50%;
        padding: 0px 16px;

        .avatar {
          width: 100%;
          border-radius: 16px;
          transition: all 0.3s ease 0s;
        }
      }

      .header {
        color: $color_1;

        height: 422.617px;

        max-width: 100%;

        min-height: auto;

        min-width: auto;
        overflow-wrap: break-word;

        transform-origin: 310px 211.309px;
        width: 50%;
        border: 0px none rgb(35, 35, 35);
        flex: 0 0 auto;
        font: 16px / 24px Inter;
        outline: rgb(35, 35, 35) none 0px;
        padding: 0px 16px;

        .header_body {
          color: $color_1;

          height: 422.617px;

          overflow-wrap: break-word;
          text-align: left;

          transform-origin: 294px 211.309px;
          border: 0px none rgb(35, 35, 35);
          font: 16px / 24px Inter;
          outline: rgb(35, 35, 35) none 0px;

          .title {
            color: $color_1;

            overflow-wrap: break-word;

            text-align: left;

            word-break: break-word;
            border-bottom: 2px solid rgb(35, 35, 35);
            font: 94.8px / 84.48px Inter, sans-serif;
            margin: 0px 0px 32px;
            outline: rgb(35, 35, 35) none 0px;
            padding: 0px 0px 32px;
          }

          .tag_line {
            color: $color_1;
            overflow-wrap: break-word;
            text-align: left;
            word-break: break-word;
            font: 35.2px / 42.24px Inter, sans-serif;
            margin: 0px 0px 16px;
          }

          .footer {
            color: $color_1;

            overflow-wrap: break-word;
            text-align: left;

            // width: 607.188px;
            border: 0px none rgb(35, 35, 35);
            font: 0px / 0px Inter;
            margin: 32px -9.6px 0px;
          }
        }
      }
    }
  }
}
