<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CroStarter</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      html {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        height: 100%;
      }

      body {
        margin: 0;
        min-height: 100%;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;

        color: #000;
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 400;
      }

      main {
        display: block;
      }

      .title-centered {
        text-align: center;
      }

      .container {
        position: relative;
        max-width: 90rem;
        margin-right: auto;
        margin-left: auto;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      .user-content {
        overflow: visible;
      }

      .user-content h2 {
        max-width: 54rem;
        margin-top: 3rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 2.25rem;
        line-height: 1.25;
      }

      .user-content.pt-4 {
        padding-top: 4rem;
      }

      .user-content ol {
        max-width: 54rem;
        margin: 2rem auto 3rem;
        font-size: 1.25rem;
        line-height: 2;
      }

      .user-content p {
        max-width: 54rem;
        margin-right: auto;
        margin-left: auto;
        color: #000;
      }

      .user-content p {
        margin-bottom: 2rem;
        line-height: 1.6;
      }

      .user-content ol,
      .user-content ul {
        font-size: 1.2rem;
      }
    </style>
  </head>

  <body>
    <body>
      <%= yield %>
    </body>
  </body>
</html>
